<div>

    <h2 translate="domofonApp.city.home.title">City</h2>
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label" translate="domofonApp.city.extCode">Ext code</label>
            <div class="col-sm-6">
                <input type="text"  name="name" class="form-control" ng-model="filter.extCode">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" translate="domofonApp.city.name">Name</label>
            <div class="col-sm-6">
                <input type="text"  name="name" class="form-control" ng-model="filter.name">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" translate="domofonApp.city.affiliate">Affiliate</label>
            <div class="col-sm-6">
                <select class="form-control" ng-model="filter.affiliate" ng-options="affiliate.id as affiliate.name for affiliate in affiliates">
                    <option value="" translate="">Все</option>
                </select>
            </div>
        </div>

        <div class="form-group form-actions">
            <div class="col-sm-10">
                <button ng-click="refresh()" translate="entity.action.search" class="btn btn-success btn-lg">Search</button>
            </div>
        </div>
    </form>

    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#saveCityModal" ng-click="clear()">
        <span class="glyphicon glyphicon-flash"></span> <span translate="domofonApp.city.home.createLabel">Create a new City</span>
    </button>
    <div class="modal fade" id="saveCityModal" tabindex="-1" role="dialog" aria-labelledby="myCityLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="cityForm" role="form" novalidate
                      class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                      ng-submit="create()">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myCityLabel" translate="domofonApp.city.home.createOrEditLabel">Create or edit a City</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="city.id" readonly>
                        </div>

                        <div class="form-group" ng-class="showErrors(cityForm, 'extCode')?'has-error':''">
                            <label translate="domofonApp.city.extCode">ExtCode</label>
                            <input type="text" class="form-control" class="form-control"
                                   ng-model="city.extCode" name="extCode" ng-required="true" ng-pattern="/^[A-Za-z0-9]*$/">
                            <div ng-show="showErrors(cityForm, 'extCode')">
                                <span class="help-block text-danger" ng-show="cityForm.extCode.$error.required" translate-values="{field: '{{'domofonApp.city.extCode' | translate}}'}" translate="entity.errorMessages.required">Please, fill extCode</span>
                            </div>
                        </div>
                        <div class="form-group" ng-class="showErrors(cityForm, 'name')?'has-error':''">
                            <label translate="domofonApp.city.name">Name</label>
                            <input type="text" class="form-control" class="form-control"
                                   ng-model="city.name" name="name" ng-required="true" ng-pattern="/^[А-Яа-яA-Za-z0-9, ]*$/">
                            <div ng-show="showErrors(cityForm, 'name')">
                                <span class="help-block text-danger" ng-show="cityForm.name.$error.required" translate-values="{field: '{{'domofonApp.city.name' | translate}}'}" translate="entity.errorMessages.required">Please, fill name</span>
                            </div>
                        </div>

                        <div class="form-group" ng-class="showErrors(cityForm, 'affiliate')?'has-error':''">
                            <label translate="domofonApp.city.affiliate">Affiliate</label>
                            <select class="form-control" ng-model="city.affiliate.id" ng-options="affiliate.id as affiliate.name for affiliate in affiliates" required="">
                            </select>
                            <div ng-show="showErrors(cityForm, 'affiliate')">
                                <span class="help-block text-danger" ng-show="cityForm.affiliate.$error.required" translate-values="{field: '{{'domofonApp.city.affiliate' | translate}}'}" translate="entity.errorMessages.required">Please, fill affiliate</span>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="cityForm.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteCityConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" ng-submit="confirmDelete(city.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="domofonApp.city.delete.question" translate-values="{name: '{{city.name}}'}">Are you sure you want to delete City {{city.name}}?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped" ng-table="cityTableParams">
            <thead>
                <tr>
                    <th>ID</th>
                    <th translate="domofonApp.city.extCode">ExtCode</th>
                    <th translate="domofonApp.city.name">Name</th>
                    <th translate="domofonApp.city.affiliate">Affiliate</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="city in $data">
                    <td><a ui-sref="cityDetail({id:city.id})">{{city.id}}</a></td>
                    <td>{{city.extCode}}</td>
                    <td>{{city.name}}</td>
                    <td>{{city.affiliate.name}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="cityDetail({id:city.id})"
                                class="btn btn-info">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ng-click="update(city.id)"
                                class="btn btn-primary">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(city.id)"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
