<div>

    <h2 translate="domofonApp.user.home.title">User</h2>
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-1 control-label" translate="domofonApp.user.extCode">Ext code</label>
            <div class="col-sm-6">
                <input type="text"  name="name" class="form-control" ng-model="filter.extCode">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-1 control-label" translate="domofonApp.user.fio">Full name</label>
            <div class="col-sm-6">
                <input type="text"  name="name" class="form-control" ng-model="filter.fio">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-1 control-label" translate="domofonApp.user.login">Login</label>
            <div class="col-sm-6">
                <input type="text"  name="name" class="form-control" ng-model="filter.login">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-1 control-label" translate="domofonApp.user.affiliate">affiliate</label>
            <div class="col-sm-6">
                <select class="form-control" ng-model="filter.affiliate" ng-options="affiliate.id as affiliate.name for affiliate in affiliates">
                    <option value="" translate="">Все</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-1 control-label" translate="domofonApp.user.role">role</label>
            <div class="col-sm-6">
                <select class="form-control" ng-model="filter.role" ng-options="value as ('domofonApp.user.roles.' + value) | translate for value in roles">
                    <option value="" translate="">Все</option>
                </select>
            </div>
        </div>

        <div class="form-group form-actions">
            <div class="col-sm-10">
                <button ng-click="refresh()" translate="entity.action.search" class="btn btn-success btn-lg">Search</button>
            </div>
        </div>
    </form>

    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#saveUserModal" ng-click="clear()">
        <span class="glyphicon glyphicon-flash"></span> <span translate="domofonApp.user.home.createLabel">Create a new User</span>
    </button>
    <div class="modal fade" id="saveUserModal" tabindex="-1" role="dialog" aria-labelledby="myUserLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="userForm" role="form" novalidate
                      class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                      ng-submit="create()">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myUserLabel" translate="domofonApp.user.home.createOrEditLabel">Create or edit a User</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="user.id" readonly>
                        </div>

                        <div class="form-group"  ng-class="showErrors(userForm, 'extCode')?'has-error':''">
                            <label translate="domofonApp.user.extCode">ExtCode</label> *
                            <input type="text" class="form-control"
                                   ng-model="user.extCode" name="extCode" required="">
                            <div ng-show="showErrors(userForm, 'extCode')">
                                <span class="help-block text-danger" ng-show="userForm.extCode.$error.required" translate-values="{field: '{{'domofonApp.user.extCode' | translate}}'}" translate="entity.errorMessages.required">Please, fill extCode</span>
                            </div>
                        </div>
                        <div class="form-group"  ng-class="showErrors(userForm, 'fio')?'has-error':''">
                            <label translate="domofonApp.user.fio">Fio</label> *
                            <input type="text" class="form-control"
                                   ng-model="user.fio"  name="fio" required="">
                            <div ng-show="showErrors(userForm, 'fio')">
                                <span class="help-block text-danger" ng-show="userForm.fio.$error.required" translate-values="{field: '{{'domofonApp.user.fio' | translate}}'}" translate="entity.errorMessages.required">Please, fill full name</span>
                            </div>
                        </div>
                        <div class="form-group"  ng-class="showErrors(userForm, 'login')?'has-error':''">
                            <label translate="domofonApp.user.login">Login</label> *
                            <input type="text" class="form-control"
                                   ng-model="user.login" name="login" required="" unique-field="{field:'login',link:'/api/users/is-field-unique',id:user.id }" ng-pattern="/^[a-z0-9]*$/">
                            <div ng-show="showErrors(userForm, 'login')">
                                <span class="help-block text-danger" ng-show="userForm.login.$error.required" translate-values="{field: '{{'domofonApp.user.login' | translate}}'}" translate="entity.errorMessages.required">Please, fill login</span>
                                <span class="help-block text-danger" ng-show="userForm.login.$error.uniqueField" translate-values="{field: '{{'domofonApp.user.login' | translate}}'}" translate="entity.errorMessages.exists">Please, fill unique login</span>
                                <span class="help-block text-danger" ng-show="userForm.login.$error.pattern" translate-values="{field: '{{'domofonApp.user.login' | translate}}',pattern:'a-z0-9'}" translate="entity.errorMessages.pattern">Please, fill correct login</span>
                            </div>
                        </div>
                        <div class="form-group"  ng-class="showErrors(userForm, 'password')?'has-error':''">
                            <label translate="domofonApp.user.password">Password</label> {{ user.id==null ? '*' : ''}}
                            <input type="text" class="form-control" name="password"
                                   ng-model="user.password" ng-required="user.id==null">
                            <div ng-show="showErrors(userForm, 'password')">
                                <span class="help-block text-danger" ng-show="userForm.password.$error.required" translate-values="{field: '{{'domofonApp.user.password' | translate}}'}" translate="entity.errorMessages.required">Please, fill password</span>
                            </div>
                        </div>

                        <div class="form-group" ng-class="showErrors(userForm, 'affiliate')?'has-error':''">
                            <label translate="domofonApp.user.affiliate">affiliate</label> *
                            <select class="form-control" name="affiliate" ng-model="user.affiliate.id" ng-options="affiliate.id as affiliate.name for affiliate in affiliates" required="">
                            </select>
                            <div ng-show="showErrors(userForm, 'affiliate')">
                                <span class="help-block text-danger" ng-show="userForm.affiliate.$error.required" translate-values="{field: '{{'domofonApp.user.affiliate' | translate}}'}" translate="entity.errorMessages.required">Please, fill affiliate</span>
                            </div>
                        </div>

                        <div class="form-group" ng-class="showErrors(userForm, 'role')?'has-error':''">
                            <label translate="domofonApp.user.role">role</label> *
                            <select class="form-control" name="role" ng-model="user.role" ng-options="value as ('domofonApp.user.roles.' + value) | translate for value in roles" required="">
                            </select>
                            <div ng-show="showErrors(userForm, 'role')">
                                <span class="help-block text-danger" ng-show="userForm.role.$error.required" translate-values="{field: '{{'domofonApp.user.role' | translate}}'}" translate="entity.errorMessages.required">Please, fill affiliate</span>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="userForm.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteUserConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" ng-submit="confirmDelete(user.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="domofonApp.user.delete.question" translate-values="{id: '{{user.id}}'}">Are you sure you want to delete User {{user.id}}?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped" ng-table="userTableParams">
            <thead>
                <tr>
                    <th>ID</th>
                    <th translate="domofonApp.user.extCode">ExtCode</th>
                    <th translate="domofonApp.user.fio">Fio</th>
                    <th translate="domofonApp.user.login">Login</th>
                    <th translate="domofonApp.user.affiliate">affiliate</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in $data">
                    <td><a ui-sref="userDetails({id:user.id})">{{user.id}}</a></td>
                    <td>{{user.extCode}}</td>
                    <td>{{user.fio}}</td>
                    <td>{{user.login}}</td>
                    <td>{{user.affiliate.name}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="userDetail({id:user.id})"
                                class="btn btn-info">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ng-click="update(user.id)"
                                class="btn btn-primary">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(user.id)"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
