
<div>
    <h2><span translate="domofonApp.user.detail.title">User</span> {{user.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="entity.detail.field">Field</th>
                    <th translate="entity.detail.value">Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <span translate="domofonApp.user.extCode">ExtCode</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{user.extCode}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="domofonApp.user.fio">Fio</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{user.fio}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="domofonApp.user.login">Login</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{user.login}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="domofonApp.user.password">Password</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{user.password}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="domofonApp.user.affiliate">affiliate</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{user.affiliate.y}}" readonly>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            ui-sref="user"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
