<div>

    <h2 translate="domofonApp.street.home.title">Street</h2>

    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label" translate="domofonApp.street.extCode">Ext code</label>
            <div class="col-sm-6">
                <input type="text"  name="name" class="form-control" ng-model="filter.extCode">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" translate="domofonApp.street.name">Name</label>
            <div class="col-sm-6">
                <input type="text"  name="name" class="form-control" ng-model="filter.name">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" translate="domofonApp.street.city">Affiliate</label>
            <div class="col-sm-6">
                <input type="text"  name="city" class="form-control" ng-model="filter.city">
            </div>
        </div>

        <div class="form-group form-actions">
            <div class="col-sm-10">
                <button ng-click="refresh()" translate="entity.action.search" class="btn btn-success btn-lg">Search</button>
            </div>
        </div>
    </form>

    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#saveStreetModal" ng-click="clear()">
        <span class="glyphicon glyphicon-flash"></span> <span translate="domofonApp.street.home.createLabel">Create a new Street</span>
    </button>
    <div class="modal fade" id="saveStreetModal" tabindex="-1" role="dialog" aria-labelledby="myStreetLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="streetForm" role="form" novalidate
                      class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                      ng-submit="create()">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myCityLabel" translate="domofonApp.street.home.createOrEditLabel">Create or edit a City</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="street.id" readonly>
                        </div>

                        <div class="form-group" ng-class="showErrors(streetForm, 'extCode')?'has-error':''">
                            <label translate="domofonApp.street.extCode">ExtCode</label>
                            <input type="text" class="form-control" class="form-control"
                                   ng-model="street.extCode" name="extCode" ng-required="true" ng-pattern="extCodePattern">
                            <div ng-show="showErrors(streetForm, 'extCode')">
                                <span class="help-block text-danger" ng-show="streetForm.extCode.$error.required"
                                      translate-values="{field: '{{'domofonApp.street.extCode' | translate}}'}"
                                      translate="entity.errorMessages.required">Please, fill extCode</span>
                                <span class="help-block text-danger" ng-show="streetForm.extCode.$error.pattern"
                                      translate-values="{field: '{{'domofonApp.street.extCode' | translate}}', pattern: '{{extCodePattern}}'}"
                                      translate="entity.errorMessages.pattern">Field '{{field}}' should match such symbols {{pattern}} !</span>
                            </div>
                        </div>

                        <div class="form-group" ng-class="showErrors(streetForm, 'name')?'has-error':''">
                            <label translate="domofonApp.street.name">Name</label>
                            <input type="text" class="form-control" class="form-control"
                                   ng-model="street.name" name="name" ng-required="true" ng-pattern="namePattern">
                            <div ng-show="showErrors(streetForm, 'name')">
                                <span class="help-block text-danger" ng-show="streetForm.name.$error.required"
                                      translate-values="{field: '{{'domofonApp.street.name' | translate}}'}"
                                      translate="entity.errorMessages.required">Please, fill name</span>
                                <span class="help-block text-danger" ng-show="streetForm.name.$error.pattern"
                                      translate-values="{field: '{{'domofonApp.street.name' | translate}}', pattern: '{{namePattern}}'}"
                                      translate="entity.errorMessages.pattern">Field '{{field}}' should match such symbols {{pattern}} !</span>
                            </div>

                        </div>

                        <div class="form-group" ng-class="showErrors(streetForm, 'city')?'has-error':''">
                            <label translate="domofonApp.street.city">City</label>
                            <ui-select name="city"
                                       ng-model="street.city"
                                       theme="bootstrap"
                                       reset-search-input="false"
                                       required="">
                                <ui-select-match placeholder="{{'domofonApp.street.city' | translate}}">{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="city in cities track by city.id"
                                                   refresh="refreshCities($select.search)"
                                                   refresh-delay="0" >
                                    <div ng-bind-html="city.name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                            <div ng-show="showErrors(streetForm, 'city')">
                                <span class="help-block text-danger" ng-show="streetForm.city.$error.required"
                                      translate-values="{field: '{{'domofonApp.street.city' | translate}}'}"
                                      translate="entity.errorMessages.required">Please, fill affiliate</span>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="streetForm.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteStreetConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" ng-submit="confirmDelete(street.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="domofonApp.street.delete.question" translate-values="{name: '{{street.name}}'}">Are you sure you want to delete Street {{street.name}}?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped" ng-table="streetTableParams">
            <thead>
                <tr>
                    <th>ID</th>
                    <th translate="domofonApp.street.extCode">ExtCode</th>
                    <th translate="domofonApp.street.name">Name</th>
                    <th translate="domofonApp.street.city">City</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="street in $data">
                    <td><a ui-sref="streetDetail({id:street.id})">{{street.id}}</a></td>
                    <td>{{street.extCode}}</td>
                    <td>{{street.name}}</td>
                    <td>{{street.city.name}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="streetDetail({id:street.id})"
                                class="btn btn-info">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ng-click="update(street.id)"
                                class="btn btn-primary">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(street.id)"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
