
<div>
    <h2><span translate="domofonApp.contract.detail.title">Contract</span> {{contract.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="entity.detail.field">Field</th>
                    <th translate="entity.detail.value">Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <span translate="domofonApp.contract.extCode">ExtCode</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{contract.extCode}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="domofonApp.contract.number">Number</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{contract.number}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="domofonApp.contract.date">Date</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{contract.date}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="domofonApp.contract.company">company</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{contract.company.name}}" readonly>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            ui-sref="contract"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
