<div>

    <h2 translate="domofonApp.contract.home.title">Contract</h2>

    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label" translate="domofonApp.contract.extCode">Ext code</label>
            <div class="col-sm-6">
                <input type="text" name="extCode" class="form-control" ng-model="filter.extCode">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" translate="domofonApp.contract.number">Number</label>
            <div class="col-sm-6">
                <input type="text" name="number" class="form-control" ng-model="filter.number">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" translate="domofonApp.contract.date">Date</label>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" translate="domofonApp.contract.from">Start</label>
            <div class="col-sm-2">
                <ng-bs3-datepicker data-ng-model='filter.fromDate' language="ru" date-format="YYYY-MM-DD"/>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" translate="domofonApp.contract.to">End</label>
            <div class="col-sm-2">
                <ng-bs3-datepicker data-ng-model='filter.toDate' language="ru" date-format="YYYY-MM-DD"/>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" translate="domofonApp.contract.company">Company</label>
            <div class="col-sm-6">
                <ui-select name="company"
                           ng-model="filter.company"
                           theme="bootstrap"
                           reset-search-input="false"
                           required="">
                    <ui-select-match placeholder="{{'domofonApp.contract.company' | translate}}" allow-clear>
                        {{$select.selected.name}}
                    </ui-select-match>
                    <ui-select-choices repeat="company.id as company in companies track by $index"
                                       refresh="refreshCompanies($select.search)"
                                       refresh-delay="0" >
                        <div ng-bind-html="company.name | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>

        <div class="form-group form-actions">
            <div class="col-sm-10">
                <button ng-click="refresh()" translate="entity.action.search" class="btn btn-success btn-lg">Search</button>
            </div>
        </div>
    </form>

    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#saveContractModal" ng-click="clear()">
        <span class="glyphicon glyphicon-flash"></span> <span translate="domofonApp.contract.home.createLabel">Create a new Contract</span>
    </button>
    <div class="modal fade" id="saveContractModal" tabindex="-1" role="dialog" aria-labelledby="myContractLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="contractForm" role="form" novalidate
                      class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                      ng-submit="create()">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myContractLabel" translate="domofonApp.contract.home.createOrEditLabel">Create or edit a Contract</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="contract.id" readonly>
                        </div>

                        <div class="form-group" ng-class="showErrors(contractForm, 'extCode')?'has-error':''">
                            <label translate="domofonApp.contract.extCode">ExtCode</label>
                            <input type="text" class="form-control" name="extCode"
                                   ng-model="contract.extCode" required="" ng-pattern="extCodePattern">
                            <div ng-show="showErrors(contractForm, 'extCode')">
                                <span class="help-block text-danger" ng-show="contractForm.extCode.$error.required"
                                      translate-values="{field: '{{'domofonApp.contract.extCode' | translate}}'}"
                                      translate="entity.errorMessages.required">Please, fill extCode</span>
                                <span class="help-block text-danger" ng-show="contractForm.extCode.$error.pattern"
                                      translate-values="{field: '{{'domofonApp.contract.extCode' | translate}}', pattern: '{{extCodePattern}}'}"
                                      translate="entity.errorMessages.pattern">Field '{{field}}' should match such symbols {{pattern}} !</span>
                            </div>
                        </div>

                        <div class="form-group" ng-class="showErrors(contractForm, 'number')?'has-error':''">
                            <label translate="domofonApp.contract.number">Number</label>
                            <input type="number" class="form-control" name="number"
                                   ng-model="contract.number" required="" ng-pattern="numberPattern">
                            <div ng-show="showErrors(contractForm, 'number')">
                                <span class="help-block text-danger" ng-show="contractForm.number.$error.required"
                                      translate-values="{field: '{{'domofonApp.contract.number' | translate}}'}"
                                      translate="entity.errorMessages.required">Please, fill number</span>
                                <span class="help-block text-danger" ng-show="contractForm.number.$error.pattern"
                                      translate-values="{field: '{{'domofonApp.contract.number' | translate}}', pattern: '{{numberPattern}}'}"
                                      translate="entity.errorMessages.pattern">Field '{{field}}' should match such symbols {{pattern}} !</span>
                            </div>
                        </div>
                        <div class="form-group" ng-class="showErrors(contractForm, 'date')?'has-error':''">
                            <label translate="domofonApp.contract.date">Date</label>
                            <ng-bs3-datepicker name="date" data-ng-model='contract.date' language="ru" date-format="YYYY-MM-DD" required=""/>
                            <div ng-show="showErrors(contractForm, 'date')">
                                <span class="text-danger help-block" ng-show="contractForm.date.$error.required"
                                      translate-values="field: '{{'domofonApp.contract.date' | translate}}'"
                                      translate="entity.errorMessages.required">Please, fill date</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label translate="domofonApp.contract.company">Company</label>
                            <ui-select name="company"
                                       ng-model="contract.company"
                                       theme="bootstrap"
                                       reset-search-input="false"
                                       required="">
                                <ui-select-match placeholder="{{'domofonApp.contract.company' | translate}}" allow-clear>
                                    {{$select.selected.name}}
                                </ui-select-match>
                                <ui-select-choices repeat="company in companies track by $index"
                                                   refresh="refreshCompanies($select.search)"
                                                   refresh-delay="0" >
                                    <div ng-bind-html="company.name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="contractForm.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteContractConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" ng-submit="confirmDelete(contract.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="domofonApp.contract.delete.question" translate-values="{id: '{{contract.id}}'}">Are you sure you want to delete Contract {{contract.id}}?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped" ng-table="contractTableParams">
            <thead>
                <tr>
                    <th>ID</th>
                    <th translate="domofonApp.contract.extCode">ExtCode</th>
                    <th translate="domofonApp.contract.number">Number</th>
                    <th translate="domofonApp.contract.date">Date</th>
                    <th translate="domofonApp.contract.company">company</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="contract in $data">
                    <td><a ui-sref="contractDetail({id:contract.id})">{{contract.id}}</a></td>
                    <td>{{contract.extCode}}</td>
                    <td>{{contract.number}}</td>
                    <td>{{contract.date | date : 'dd MMMM yyyy'}}</td>
                    <td>{{contract.company.name}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="contractDetail({id:contract.id})"
                                class="btn btn-info">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ng-click="update(contract.id)"
                                class="btn btn-primary">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(contract.id)"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
