
<div>
    <h2><span translate="domofonApp.house.detail.title">House</span> {{house.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="entity.detail.field">Field</th>
                    <th translate="entity.detail.value">Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <span translate="domofonApp.house.extCode">ExtCode</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{house.extCode}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="domofonApp.house.name">Name</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{house.name}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="domofonApp.house.latitude">Latitude</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{house.latitude}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="domofonApp.house.longitude">Longitude</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{house.longitude}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="domofonApp.house.inaccurateAddress">InaccurateAddress</span>
                    </td>
                    <td>
                        <div class="col-sm-1">
                            <input type="checkbox" class="input-sm form-control" ng-model="house.inaccurateAddress" readonly disabled>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="domofonApp.house.scanned">Scanned</span>
                    </td>
                    <td>
                        <div class="col-sm-1">
                            <input type="checkbox" class="input-sm form-control" ng-model="house.scanned" readonly disabled>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="domofonApp.house.street">street</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{house.street.city.name}}, {{house.street.name}}" readonly>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            ui-sref="house"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
