<div>

    <h2 translate="domofonApp.house.home.title">House</h2>

    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label" translate="domofonApp.house.extCode">Ext code</label>
            <div class="col-sm-6">
                <input type="text" name="extCode" class="form-control" ng-model="filter.extCode">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" translate="domofonApp.house.name">Number</label>
            <div class="col-sm-6">
                <input type="text"  name="name" class="form-control" ng-model="filter.name">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" translate="domofonApp.house.latitude">Latitude</label>
            <div class="col-sm-6">
                <input type="text"  name="latitude" class="form-control" ng-model="filter.latitude">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" translate="domofonApp.house.longitude">Longitude</label>
            <div class="col-sm-6">
                <input type="text"  name="longitude" class="form-control" ng-model="filter.longitude">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" translate="domofonApp.house.inaccurateAddress">Inaccurate address</label>
            <div class="col-sm-1">
                <input type="checkbox" name="inaccurateAddress" class="form-control" ng-model="filter.inaccurateAddress"
                       ng-init="filter.inaccurateAddress=false">
            </div>

            <label class="col-sm-1 control-label" translate="domofonApp.house.scanned">Scanned</label>
            <div class="col-sm-1">
                <input type="checkbox" name="scanned" class="form-control" ng-model="filter.scanned"
                       ng-init="filter.scanned=false">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" translate="domofonApp.house.city">City</label>
            <div class="col-sm-6">
                <ui-select name="city"
                           ng-model="filter.cityId"
                           theme="bootstrap"
                           reset-search-input="true"
                           required="">
                    <ui-select-match placeholder="{{'domofonApp.house.city' | translate}}" allow-clear>
                        {{$select.selected.name}}
                    </ui-select-match>
                    <ui-select-choices repeat="city.id as city in cities track by $index"
                                       refresh="refreshCities($select.search)"
                                       refresh-delay="0" >
                        <div ng-bind-html="city.name | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" translate="domofonApp.house.street">Street</label>
            <div class="col-sm-6">
                <input type="text"  name="street" class="form-control" ng-model="filter.street">
            </div>
        </div>

        <div class="form-group form-actions">
            <div class="col-sm-10">
                <button ng-click="refresh()" translate="entity.action.search" class="btn btn-success btn-lg">Search</button>
            </div>
        </div>
    </form>

    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#saveHouseModal" ng-click="clear()">
        <span class="glyphicon glyphicon-flash"></span> <span translate="domofonApp.house.home.createLabel">Create a new House</span>
    </button>
    <div class="modal fade" id="saveHouseModal" tabindex="-1" role="dialog" aria-labelledby="myHouseLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="houseForm" role="form" novalidate
                      class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                      ng-submit="create()">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myHouseLabel" translate="domofonApp.house.home.createOrEditLabel">Create or edit a House</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="house.id" readonly>
                        </div>

                        <div class="form-group" ng-class="showErrors(houseForm, 'extCode')?'has-error':''">
                            <label translate="domofonApp.house.extCode">ExtCode</label>
                            <input type="text" class="form-control"
                                   ng-model="house.extCode" name="extCode" ng-required="true" ng-pattern="extCodePattern">
                            <div ng-show="showErrors(houseForm, 'extCode')">
                                <span class="help-block text-danger" ng-show="houseForm.extCode.$error.required"
                                      translate-values="{field: '{{'domofonApp.house.extCode' | translate}}'}"
                                      translate="entity.errorMessages.required">Please, fill extCode</span>
                                <span class="help-block text-danger" ng-show="houseForm.extCode.$error.pattern"
                                      translate-values="{field: '{{'domofonApp.house.extCode' | translate}}', pattern: '{{extCodePattern}}'}"
                                      translate="entity.errorMessages.pattern">Field '{{field}}' should match such symbols {{pattern}} !</span>
                            </div>
                        </div>
                        <div class="form-group" ng-class="showErrors(houseForm, 'name')?'has-error':''">
                            <label translate="domofonApp.house.name">Number</label>
                            <input type="text" class="form-control" name="name"
                                   ng-model="house.name" ng-required="true" ng-pattern="namePattern">
                            <div ng-show="showErrors(houseForm, 'name')">
                                <span class="help-block text-danger" ng-show="houseForm.name.$error.required"
                                      translate-values="{field: '{{'domofonApp.house.name' | translate}}'}"
                                      translate="entity.errorMessages.required">Please, fill name</span>
                                <span class="help-block text-danger" ng-show="houseForm.name.$error.pattern"
                                      translate-values="{field: '{{'domofonApp.house.name' | translate}}', pattern: '{{namePattern}}'}"
                                      translate="entity.errorMessages.pattern">Field '{{field}}' should match such symbols {{pattern}} !</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label translate="domofonApp.house.inaccurateAddress">Inaccurate Address</label>
                            <input type="checkbox" class="form-control"
                                   ng-model="house.inaccurateAddress">
                        </div>

                        <div class="form-group">
                            <label translate="domofonApp.house.scanned">Scanned</label>
                            <input type="checkbox" class="form-control"
                                   ng-model="house.scanned">
                        </div>

                        <div class="form-group">
                            <label translate="domofonApp.house.city">City</label>
                            <ui-select name="city"
                                       ng-model="city.id"
                                       theme="bootstrap"
                                       reset-search-input="true"
                                       ng-disabled="house.street.id != undefined">
                                <ui-select-match placeholder="{{'domofonApp.house.city' | translate}}" allow-clear>
                                    {{$select.selected.name}}
                                </ui-select-match>
                                <ui-select-choices repeat="city.id as city in cities track by $index"
                                                   refresh="refreshCities($select.search)"
                                                   refresh-delay="0" >
                                    <div ng-bind-html="city.name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>

                        <div class="form-group" ng-class="showErrors(houseForm, 'street')?'has-error':''">
                            <label translate="domofonApp.house.street">Street</label>
                            <ui-select name="street"
                                       ng-model="house.street"
                                       theme="bootstrap"
                                       reset-search-input="true"
                                       required="" ng-disabled="city.id === undefined">
                                <ui-select-match placeholder="{{'domofonApp.house.street' | translate}}" allow-clear>
                                    {{$select.selected.name}}
                                </ui-select-match>
                                <ui-select-choices repeat="street in streets track by $index"
                                                   refresh="refreshStreets($select.search)"
                                                   refresh-delay="0" >
                                    <div ng-bind-html="street.name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                            <div ng-show="showErrors(houseForm, 'street')">
                                <span class="help-block text-danger" ng-show="houseForm.street.$error.required" translate-values="{field: '{{'domofonApp.house.street' | translate}}'}" translate="entity.errorMessages.required">Please, fill street</span>
                            </div>
                        </div>

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="houseForm.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteHouseConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" ng-submit="confirmDelete(house.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="domofonApp.house.delete.question" translate-values="{name: '{{house.name}}'}">Are you sure you want to delete House # {{house.name}}?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped" ng-table="houseTableParams">
            <thead>
                <tr>
                    <th>ID</th>
                    <th translate="domofonApp.house.extCode">ExtCode</th>
                    <th translate="domofonApp.house.address">Address</th>
                    <th translate="domofonApp.house.name">Number</th>
                    <th translate="domofonApp.house.latitude">Latitude</th>
                    <th translate="domofonApp.house.longitude">Longitude</th>
                    <th translate="domofonApp.house.inaccurateAddress">Inaccurate Address</th>
                    <th translate="domofonApp.house.scanned">Scanned</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="house in $data">
                    <td><a ui-sref="houseDetail({id:house.id})">{{house.id}}</a></td>
                    <td>{{house.extCode}}</td>
                    <td>{{house.street.city.name}}, {{house.street.name}}</td>
                    <td>{{house.name}}</td>
                    <td>{{house.latitude}}</td>
                    <td>{{house.longitude}}</td>
                    <td><input type="checkbox" class="form-control" ng-model="house.inaccurateAddress" disabled></td>
                    <td><input type="checkbox" class="form-control" ng-model="house.scanned" disabled></td>
                    <td>
                        <button type="submit"
                                ui-sref="houseDetail({id:house.id})"
                                class="btn btn-info">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ng-click="update(house.id)"
                                class="btn btn-primary">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(house.id)"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
