<div>
 <!--TODO добавить поле результат и счёт в фильтр, форму добавления, таблицу-->
    <h2 translate="domofonApp.payment.home.title">Payment</h2>
    <form class="form-horizontal" name="searchForm">
        <div class="col-md-5">
            <div class="form-group">
                <label class="col-sm-3 control-label" translate="domofonApp.payment.extCode">Ext code</label>
                <div class="col-sm-8">
                    <input type="text"  class="form-control" ng-model="filter.extCode">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label" translate="domofonApp.payment.customer">Customer</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" ng-model="filter.customer">
                </div>
            </div>

            <div class="form-group" ng-class="showErrors(searchForm, 'sum')?'has-error':''">
                <label class="col-sm-3 control-label" translate="domofonApp.payment.sum">Sum</label>
                <div class="col-sm-8">
                    <input type="number"  name="sum" class="form-control" ng-model="filter.sum">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label" translate="domofonApp.payment.dateFrom">Date from</label>
                <div class="col-sm-8">
                    <ng-bs3-datepicker data-ng-model='filter.dateFrom' language="ru" date-format="YYYY-MM-DD"/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label" translate="domofonApp.payment.dateTo">Date to</label>
                <div class="col-sm-8">
                    <ng-bs3-datepicker data-ng-model='filter.dateTo' language="ru" date-format="YYYY-MM-DD"/>
                </div>
            </div>
        </div>

        <div class="col-md-5">
            <div class="form-group">
                <label class="col-sm-3 control-label" translate="domofonApp.payment.operation">Operation</label>
                <div class="col-sm-8">
                    <select class="form-control" ng-model="filter.operation"
                            ng-options="operation as ('domofonApp.payment.operations.' + operation) | translate for operation in operations">
                        <option value="" translate="booleanFilterValues.all">Все</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label" translate="domofonApp.payment.type">Type</label>
                <div class="col-sm-8">
                    <select class="form-control" ng-model="filter.type"
                            ng-options="type as ('domofonApp.payment.types.' + type) | translate for type in types">
                        <option value="" translate="booleanFilterValues.all">Все</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label" translate="domofonApp.payment.service">Service</label>
                <div class="col-sm-8">
                    <select class="form-control" ng-model="filter.service"
                            ng-options="service as ('domofonApp.service.' + service) | translate for service in services">
                        <option value="" translate="booleanFilterValues.all">Все</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label" translate="domofonApp.payment.result">Result</label>
                <div class="col-sm-8">
                    <select class="form-control" ng-model="filter.result"
                            ng-options="result as ('domofonApp.payment.results.' + result) | translate for result in results">
                        <option value="" translate="booleanFilterValues.all">Все</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label" translate="domofonApp.payment.account">Account</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" ng-model="filter.account">
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="form-group form-actions">
            <div class="col-sm-10">
                <button ng-click="!searchForm.$invalid ?refresh():''" translate="entity.action.search" class="btn btn-success btn-lg">Search</button>
            </div>
        </div>
    </form>
    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#savePaymentModal" ng-click="clear()">
        <span class="glyphicon glyphicon-flash"></span> <span translate="domofonApp.payment.home.createLabel">Create a new Payment</span>
    </button>
    <div class="modal fade" id="savePaymentModal" tabindex="-1" role="dialog" aria-labelledby="myPaymentLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="paymentForm" role="form" novalidate
                      class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                      ng-submit="create()">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myPaymentLabel" translate="domofonApp.payment.home.createOrEditLabel">Create or edit a Payment</h4>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>ID</label>
                                <input type="text" class="form-control" name="id"
                                       ng-model="payment.id" readonly>
                            </div>

                            <div class="form-group" ng-class="showErrors(paymentForm, 'customer')?'has-error':''">
                                <label translate="domofonApp.payment.customer">customer</label>
                                <ui-select name="customer"
                                           ng-model="payment.customer"
                                           theme="bootstrap"
                                           reset-search-input="false"
                                           required="">
                                    <ui-select-match placeholder="{{'domofonApp.payment.customer' | translate}}">{{$select.selected.user.fio}}</ui-select-match>
                                    <ui-select-choices repeat="customer in customers track by $index"
                                                       refresh="refreshCustomers($select.search)"
                                                       refresh-delay="0">
                                        <div ng-bind-html="customer.user.fio"></div>
                                    </ui-select-choices>
                                </ui-select>
                                <div ng-show="showErrors(paymentForm, 'customer')">
                                    <span class="help-block text-danger" ng-show="paymentForm.customer.$error.required" translate-values="{field: '{{'domofonApp.payment.customer' | translate}}'}" translate="entity.errorMessages.required">Please, fill customer</span>
                                </div>
                            </div>

                            <div class="form-group" ng-class="showErrors(paymentForm, 'extCode')?'has-error':''">
                                <label translate="domofonApp.payment.extCode">ExtCode</label>
                                <input type="text" class="form-control" ng-model="payment.extCode" name="extCode" required="">
                                <div ng-show="showErrors(paymentForm, 'extCode')">
                                    <span class="help-block text-danger" ng-show="paymentForm.extCode.$error.required" translate-values="{field: '{{'domofonApp.payment.extCode' | translate}}'}" translate="entity.errorMessages.required">Please, fill ext code</span>
                                </div>
                            </div>
                            <div class="form-group" ng-class="showErrors(paymentForm, 'date')?'has-error':''">
                                <label translate="domofonApp.payment.date">Date</label>
                                <ng-bs3-datepicker name="date" data-ng-model='payment.date' language="ru" date-format="YYYY-MM-DD" required=""/>
                            </div>
                            <div class="form-group" ng-class="showErrors(paymentForm, 'document')?'has-error':''">
                                <label translate="domofonApp.payment.document">Document</label>
                                <input type="text" class="form-control" name="document"
                                       ng-model="payment.document" required="">
                                <div ng-show="showErrors(paymentForm, 'document')">
                                    <span class="help-block text-danger" ng-show="paymentForm.document.$error.required" translate-values="{field: '{{'domofonApp.payment.document' | translate}}'}" translate="entity.errorMessages.required">Please, fill document</span>
                                </div>
                            </div>
                            <div class="form-group" ng-class="showErrors(paymentForm, 'sum')?'has-error':''">
                                <label translate="domofonApp.payment.sum">Sum</label>
                                <input type="number" class="form-control"
                                       ng-model="payment.sum" name="sum" required="">
                                <div ng-show="showErrors(paymentForm, 'sum')">
                                    <span class="help-block text-danger" ng-show="paymentForm.sum.$error.required" translate-values="{field: '{{'domofonApp.payment.sum' | translate}}'}" translate="entity.errorMessages.required">Please, fill sum</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group" ng-class="showErrors(paymentForm, 'operation')?'has-error':''">
                                <label translate="domofonApp.payment.operation">Operation</label>
                                <select class="form-control" ng-model="payment.operation" name="operation"
                                        ng-options="operation as ('domofonApp.payment.operations.' + operation) | translate for operation in operations" required="">
                                </select>
                                <div ng-show="showErrors(paymentForm, 'operation')">
                                    <span class="help-block text-danger" ng-show="paymentForm.operation.$error.required" translate-values="{field: '{{'domofonApp.payment.operation' | translate}}'}" translate="entity.errorMessages.required">Please, fill operation</span>
                                </div>
                            </div>
                            <div class="form-group" ng-class="showErrors(paymentForm, 'type')?'has-error':''">
                                <label translate="domofonApp.payment.type">Type</label>
                                <select class="form-control" ng-model="payment.type" name="type"
                                        ng-options="type as ('domofonApp.payment.types.' + type) | translate for type in types" required="">
                                </select>
                                <div ng-show="showErrors(paymentForm, 'type')">
                                    <span class="help-block text-danger" ng-show="paymentForm.type.$error.required" translate-values="{field: '{{'domofonApp.payment.type' | translate}}'}" translate="entity.errorMessages.required">Please, fill type</span>
                                </div>
                            </div>

                            <div class="form-group" ng-class="showErrors(paymentForm, 'service')?'has-error':''">
                                <label translate="domofonApp.payment.service">service</label>
                                <select class="form-control" ng-model="payment.service" name="service"
                                        ng-options="service as ('domofonApp.service.' + service) | translate for service in services" required="">
                                </select>
                                <div ng-show="showErrors(paymentForm, 'service')">
                                    <span class="help-block text-danger" ng-show="paymentForm.service.$error.required" translate-values="{field: '{{'domofonApp.payment.service' | translate}}'}" translate="entity.errorMessages.required">Please, fill service</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label translate="domofonApp.payment.result">Result</label>
                                <select class="form-control" ng-model="payment.result" name="result"
                                        ng-options="result as ('domofonApp.payment.results.' + result) | translate for result in results">
                                </select>
                                <div ng-show="showErrors(paymentForm, 'result')">
                                    <span class="help-block text-danger" ng-show="paymentForm.result.$error.required" translate-values="{field: '{{'domofonApp.payment.result' | translate}}'}" translate="entity.errorMessages.required">Please, fill service</span>
                                </div>

                            </div>

                            <div class="form-group">
                                <label translate="domofonApp.payment.account">Account</label>
                                <input type="text"  name="account" class="form-control" ng-model="payment.account">
                            </div>

                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="paymentForm.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deletePaymentConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" ng-submit="confirmDelete(payment.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="domofonApp.payment.delete.question" translate-values="{id: '{{payment.id}}'}">Are you sure you want to delete Payment {{payment.id}}?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped" ng-table="paymentTableParams">
            <thead>
                <tr>
                    <th>ID</th>
                    <th translate="domofonApp.payment.extCode">ExtCode</th>
                    <th translate="domofonApp.payment.date">Date</th>
                    <th translate="domofonApp.payment.document">Document</th>
                    <th translate="domofonApp.payment.sum">Sum</th>
                    <th translate="domofonApp.payment.operation">Operation</th>
                    <th translate="domofonApp.payment.type">Type</th>
                    <th translate="domofonApp.payment.service">service</th>
                    <th translate="domofonApp.payment.customer">Customer</th>
                    <th translate="domofonApp.payment.result">Result</th>
                    <th translate="domofonApp.payment.account">Account</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="payment in $data">
                    <td><a ui-sref="paymentDetails({id:payment.id})">{{payment.id}}</a></td>
                    <td>{{payment.extCode}}</td>
                    <td>{{payment.date | date : 'dd MMMM yyyy'}}</td>
                    <td>{{payment.document}}</td>
                    <td>{{payment.sum}}</td>
                    <td>{{('domofonApp.payment.operations.' + payment.operation ) | translate}}</td>
                    <td>{{('domofonApp.payment.types.' + payment.type ) | translate}}</td>
                    <td>{{('domofonApp.service.' + payment.service) | translate}}</td>
                    <td>{{payment.customer.user.fio}}</td>
                    <td>{{('domofonApp.payment.results.' + payment.result) | translate}}</td>
                    <td>{{payment.account}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="paymentDetail({id:payment.id})"
                                class="btn btn-info">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ng-click="update(payment.id)"
                                class="btn btn-primary">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(payment.id)"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
