
<div>
    <h2><span translate="domofonApp.payment.detail.title">Payment</span> {{payment.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="entity.detail.field">Field</th>
                    <th translate="entity.detail.value">Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <span translate="domofonApp.payment.extCode">ExtCode</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{payment.extCode}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="domofonApp.payment.date">Date</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{payment.date}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="domofonApp.payment.document">Document</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{payment.document}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="domofonApp.payment.sum">Sum</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{payment.sum}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="domofonApp.payment.operation">Operation</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{payment.operation}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="domofonApp.payment.type">Type</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{payment.type}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="domofonApp.payment.service">service</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{payment.service.name}}" readonly>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            ui-sref="payment"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
