<div>

    <h2 translate="domofonApp.entrance.home.title">Entrance</h2>

    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label" translate="domofonApp.entrance.extCode">Ext code</label>
            <div class="col-sm-6">
                <input type="text" name="extCode" class="form-control" ng-model="filter.extCode">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" translate="domofonApp.entrance.name">Number</label>
            <div class="col-sm-6">
                <input type="text"  name="name" class="form-control" ng-model="filter.name">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" translate="domofonApp.entrance.domofonCode">Number</label>
            <div class="col-sm-6">
                <input type="text"  name="domofonCode" class="form-control" ng-model="filter.domofonCode">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" translate="domofonApp.entrance.gate">Gate</label>
            <div class="col-sm-1">
                <input type="checkbox" name="gate" class="form-control" ng-model="filter.gate"
                       ng-init="filter.gate=false">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" translate="domofonApp.entrance.city">City</label>
            <div class="col-sm-6">
                <ui-select name="city"
                           ng-model="filter.cityId"
                           theme="bootstrap"
                           reset-search-input="true"
                           required="">
                    <ui-select-match placeholder="{{'domofonApp.entrance.city' | translate}}" allow-clear>
                        {{$select.selected.name}}
                    </ui-select-match>
                    <ui-select-choices repeat="city.id as city in cities track by $index"
                                       refresh="refreshCities($select.search)"
                                       refresh-delay="0" >
                        <div ng-bind-html="city.name | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" translate="domofonApp.entrance.street">City</label>
            <div class="col-sm-6">
                <ui-select name="street"
                           ng-model="filter.streetId"
                           theme="bootstrap"
                           reset-search-input="true"
                           required="">
                    <ui-select-match placeholder="{{'domofonApp.entrance.street' | translate}}" allow-clear>
                        {{$select.selected.name}}
                    </ui-select-match>
                    <ui-select-choices repeat="street.id as street in fstreets track by $index"
                                       refresh="filterStreets($select.search)"
                                       refresh-delay="0" >
                        <div ng-bind-html="street.name | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" translate="domofonApp.entrance.house">House</label>
            <div class="col-sm-6">
                <input type="text"  name="name" class="form-control" ng-model="filter.house">
            </div>
        </div>

        <div class="form-group form-actions">
            <div class="col-sm-10">
                <button ng-click="refresh()" translate="entity.action.search" class="btn btn-success btn-lg">Search</button>
            </div>
        </div>
    </form>

    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#saveEntranceModal" ng-click="clear()">
        <span class="glyphicon glyphicon-flash"></span> <span translate="domofonApp.entrance.home.createLabel">Create a new Entrance</span>
    </button>
    <div class="modal fade" id="saveEntranceModal" tabindex="-1" role="dialog" aria-labelledby="myEntranceLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="entranceForm" role="form" novalidate
                      class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                      ng-submit="create()">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myEntranceLabel" translate="domofonApp.entrance.home.createOrEditLabel">Create or edit a Entrance</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="entrance.id" readonly>
                        </div>

                        <div class="form-group" ng-class="showErrors(entranceForm, 'extCode')?'has-error':''">
                            <label translate="domofonApp.entrance.extCode">ExtCode</label>
                            <input type="text" class="form-control" name="extCode"
                                   ng-model="entrance.extCode" ng-required="true" ng-pattern="extCodePattern">
                            <div ng-show="showErrors(entranceForm, 'extCode')">
                                <span class="help-block text-danger" ng-show="entranceForm.extCode.$error.required"
                                      translate-values="{field: '{{'domofonApp.entrance.extCode' | translate}}'}"
                                      translate="entity.errorMessages.required">Please, fill extCode</span>
                                <span class="help-block text-danger" ng-show="entranceForm.extCode.$error.pattern"
                                      translate-values="{field: '{{'domofonApp.entrance.extCode' | translate}}', pattern: '{{extCodePattern}}'}"
                                      translate="entity.errorMessages.pattern">Field '{{field}}' should match such symbols {{pattern}} !</span>
                            </div>
                        </div>
                        <div class="form-group" ng-class="showErrors(entranceForm, 'name')?'has-error':''">
                            <label translate="domofonApp.entrance.name">Name</label>
                            <input type="text" class="form-control" name="name"
                                   ng-model="entrance.name" ng-required="true" ng-pattern="namePattern">
                            <div ng-show="showErrors(entranceForm, 'name')">
                                <span class="help-block text-danger" ng-show="entranceForm.name.$error.required"
                                      translate-values="{field: '{{'domofonApp.entrance.name' | translate}}'}"
                                      translate="entity.errorMessages.required">Please, fill name</span>
                                <span class="help-block text-danger" ng-show="entranceForm.name.$error.pattern"
                                      translate-values="{field: '{{'domofonApp.entrance.name' | translate}}', pattern: '{{namePattern}}'}"
                                      translate="entity.errorMessages.pattern">Field '{{field}}' should match such symbols {{pattern}} !</span>
                            </div>
                        </div>
                        <div class="form-group" ng-class="showErrors(entranceForm, 'domofonCode')?'has-error':''">
                            <label translate="domofonApp.entrance.domofonCode">Domofon Code</label>
                            <input type="number" class="form-control" name="domofonCode"
                                   ng-model="entrance.domofonCode" ng-required="true" ng-pattern="domofonCodePattern">
                            <div ng-show="showErrors(entranceForm, 'domofonCode')">
                                <span class="help-block text-danger" ng-show="entranceForm.domofonCode.$error.required"
                                      translate-values="{field: '{{'domofonApp.entrance.domofonCode' | translate}}'}"
                                      translate="entity.errorMessages.required">Please, fill name</span>
                                <span class="help-block text-danger" ng-show="entranceForm.domofonCode.$error.pattern"
                                      translate-values="{field: '{{'domofonApp.entrance.domofonCode' | translate}}', pattern: '{{domofonCodePattern}}'}"
                                      translate="entity.errorMessages.pattern">Field '{{field}}' should match such symbols {{pattern}} !</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label translate="domofonApp.entrance.gate">Gate</label>
                            <input type="checkbox" class="form-control"
                                   ng-model="entrance.gate">
                        </div>

                        <div class="form-group">
                            <label translate="domofonApp.entrance.city">City</label>
                            <ui-select name="city"
                                       ng-model="city.id"
                                       theme="bootstrap"
                                       reset-search-input="true"
                                       ng-disabled="street.id != undefined">
                                <ui-select-match placeholder="{{'domofonApp.entrance.city' | translate}}" allow-clear>
                                    {{$select.selected.name}}
                                </ui-select-match>
                                <ui-select-choices repeat="city.id as city in cities track by $index"
                                                   refresh="refreshCities($select.search)"
                                                   refresh-delay="0" >
                                    <div ng-bind-html="city.name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>

                        <div class="form-group">
                            <label translate="domofonApp.entrance.street">Street</label>
                            <ui-select name="street"
                                       ng-model="street.id"
                                       theme="bootstrap"
                                       reset-search-input="true"
                                       required="" ng-disabled="city.id === undefined || entrance.house.id != undefined">
                                <ui-select-match placeholder="{{'domofonApp.entrance.street' | translate}}" allow-clear>
                                    {{$select.selected.name}}
                                </ui-select-match>
                                <ui-select-choices repeat="street.id as street in streets track by $index"
                                                   refresh="refreshStreets($select.search)"
                                                   refresh-delay="0" >
                                    <div ng-bind-html="street.name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>

                        <div class="form-group" ng-class="showErrors(entranceForm, 'house')?'has-error':''">
                            <label translate="domofonApp.entrance.house">house</label>
                            <ui-select name="house"
                                       ng-model="entrance.house"
                                       theme="bootstrap"
                                       reset-search-input="true"
                                       required="" ng-disabled="street.id === undefined">
                                <ui-select-match placeholder="{{'domofonApp.entrance.house' | translate}}" allow-clear>
                                    {{$select.selected.name}}
                                </ui-select-match>
                                <ui-select-choices repeat="house in houses track by house.id"
                                                   refresh="refreshHouses($select.search)"
                                                   refresh-delay="0" >
                                    <div ng-bind-html="house.name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                            <div ng-show="showErrors(entranceForm, 'house')">
                                <span class="help-block text-danger" ng-show="entranceForm.house.$error.required" translate-values="{field: '{{'domofonApp.entrance.house' | translate}}'}" translate="entity.errorMessages.required">Please, fill house</span>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="entranceForm.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteEntranceConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" ng-submit="confirmDelete(entrance.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="domofonApp.entrance.delete.question" translate-values="{id: '{{entrance.id}}'}">Are you sure you want to delete Entrance {{entrance.id}}?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped" ng-table="entranceTableParams">
            <thead>
                <tr>
                    <th>ID</th>
                    <th translate="domofonApp.entrance.extCode">ExtCode</th>
                    <th translate="domofonApp.entrance.house">house</th>
                    <th translate="domofonApp.entrance.name">Name</th>
                    <th translate="domofonApp.entrance.domofonCode">DomofonCode</th>
                    <th translate="domofonApp.entrance.gate">Gate</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="entrance in $data">
                    <td><a ui-sref="entranceDetail({id:entrance.id})">{{entrance.id}}</a></td>
                    <td>{{entrance.extCode}}</td>
                    <td>{{entrance.house.street.city.name}}, {{entrance.house.street.name}}, {{entrance.house.name}}</td>
                    <td>{{entrance.name}}</td>
                    <td>{{entrance.domofonCode}}</td>
                    <td><input type="checkbox" class="form-control" ng-model="entrance.gate" disabled></td>
                    <td>
                        <button type="submit"
                                ui-sref="entranceDetail({id:entrance.id})"
                                class="btn btn-info">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ng-click="update(entrance.id)"
                                class="btn btn-primary">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(entrance.id)"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
