
<div>
    <h2><span translate="domofonApp.entrance.detail.title">Entrance</span> {{entrance.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="entity.detail.field">Field</th>
                    <th translate="entity.detail.value">Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <span translate="domofonApp.entrance.extCode">ExtCode</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{entrance.extCode}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="domofonApp.entrance.name">Name</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{entrance.name}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="domofonApp.entrance.domofonCode">DomofonCode</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{entrance.domofonCode}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="domofonApp.entrance.gate">Gate</span>
                    </td>
                    <td>
                        <div class="col-sm-1">
                            <input type="checkbox" class="input-sm form-control" ng-model="entrance.gate" readonly disabled>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="domofonApp.entrance.house">House</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{entrance.house.street.city.name}}, {{entrance.house.street.name}}, {{entrance.house.name}}" readonly>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            ui-sref="entrance"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
