<div class="sidebar-nav" ng-controller="CustomerNavbarController">
    <div class="navbar navbar-default" role="navigation">
        <div class="navbar-collapse collapse sidebar-navbar-collapse">
            <ul class="nav navbar-nav">
                <li><span translate="global.customerMenu.profile" class="navbar-brand">Личный кабинет</span></li>
                <li ui-sref-active="active"><a ui-sref="balance"><span translate="global.customerMenu.balance">Состояние лицевого счёта</span></a></li>
                <li ui-sref-active="active"><a ui-sref="cash-flow"><span translate="global.customerMenu.cashFlow">Движение денежных средств</span></a></li>
                <li ui-sref-active="active"><a ui-sref="fee-history"><span translate="global.customerMenu.feeHistory">История изменения абонентской платы</span></a></li>
                <li ui-sref-active="active"><a ui-sref="payment-history"><span translate="global.customerMenu.paymentHistory">История онлайн платежей</span></a></li>
                <li ui-sref-active="active"><a ui-sref="other-payment-methods"><span translate="global.customerMenu.otherPaymentMethods">Другие способы оплаты</span></a></li>
                <li ui-sref-active="active" class="dropdown pointer" ng-controller="LanguageController">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="">
                            <span>
                                <span class="glyphicon glyphicon-flag"></span>
                                <span class="hidden-tablet" translate="global.menu.language">Language</span>
                                <b class="caret"></b>
                            </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li active-menu="{{language}}" ng-repeat="language in languages">
                            <a href="" ng-click="changeLanguage(language)">{{'language.' + language| translate}}</a>
                        </li>
                    </ul>
                </li>
                <li ui-sref-active="active"><a href="" ng-click="logout()"><span class="glyphicon glyphicon-log-out"></span>
                    &#xA0;<span translate="global.menu.account.logout">Log out</span></a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>
