<div>
    <h3 translate="feeHistory.header"></h3>
    <div class="table-responsive">
        <table class="table table-striped" ng-table="feeHistoryTableParams">
            <thead>
            <tr>
                <th translate="feeHistory.date">Date</th>
                <th translate="feeHistory.price">Price</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="fee in $data">
                <td>{{fee.date | date:'dd MMMM yyyy'}}</td>
                <td>{{fee.sum}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
