<div class="balance">
    <h3 translate="balance.stateOfAccount" translate-values="{'agreementNumber':customer.contract.number}"></h3>
    <div class="col-sm-4">
        <table>
            <tr>
                <th><span translate="balance.connectionDate"></span>:</th>
                <td>{{customer.connectionDate | date : 'dd MMMM yyyy'}}</td>
            </tr>
            <tr>
                <th><span translate="balance.connectionAddress"></span>:</th>
                <td>{{customer.entrance.house.street.city.name}} {{customer.entrance.house.street.name}} {{customer.entrance.house.name}}/{{customer.apartment}}</td>
            </tr>
            <tr>
                <th><span translate="balance.agreementOwner"></span>:</th>
                <td>{{customer.user.fio}}</td>
            </tr>
            <tr>
                <th><span translate="balance.contactPhone"></span>:</th>
                <td><span ng-repeat="(key, phone) in phones">{{key != 0 ? ', ':''}} {{phone}}</span></td>
            </tr>
            <tr>
                <th><span translate="balance.exemption"></span>:</th>
                <td><div ng-show="customer.exempt != null">
                        <span class="label label-success" translate="booleanFilterValues.yes"></span>
                        {{('domofonApp.exempt.types.' + customer.exempt.type) | translate}}
                        <br>
                        <span translate="balance.validUntil"></span>
                        {{customer.exempt.endDate | date : 'dd MMMM yyyy'}}
                    </div>
                    <div ng-show="customer.exempt == null">
                        <span  class="label label-danger" translate="booleanValues.no"></span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="col-sm-4">
        <table>
            <tr>
                <th><span translate="balance.currentBalance"></span>:<br>
                    <span translate="balance.asOf" class="comment"></span>
                </th>
                <td><span ng-class="customer.balance >= 0 ? 'text-success' : 'text-danger'">{{customer.balance}} {{'roubles' | translate}}</span><br>
                    {{currentDate | date : 'dd MMMM yyyy'}}
                    <a ui-sref="cash-flow"><span class="glyphicon glyphicon-list"></span></a>
                </td>
            </tr>
            <tr>
                <th><span translate="balance.fee"></span>:<br>
                    <span translate="balance.withEnabledTube" class="comment"></span>
                </th>
                <td><span ng-show="lastFee != null">{{lastFee}} {{'roubles/month'|translate}}</span>
                    <a ui-sref="fee-history"><span class="glyphicon glyphicon-eye-open"></span></a>
                </td>
            </tr>
            <tr>
                <th><span translate="balance.tubeState"></span>:</th>
                <td><span ng-class="customer.receiverState ? 'text-success' : 'text-danger'">{{(customer.receiverState ? 'balance.turnedOn' : 'balance.switchedOff')| translate}}</span></td>
            </tr>
            <tr>
                <th><input type="text" placeholder="{{'balance.paymentSum' | translate}}" model="receipt.Sum"></th>
                <td><button class="btn btn-xs btn-success" ng-click="print()">{{'balance.printReceipt' | translate}}</button></td>
            </tr>
        </table>
    </div>
    <div class="clearfix"></div>
    <h4 translate="balance.payOnline"></h4>
</div>
