<div>

    <h2 translate="domofonApp.company.home.title">Company</h2>

    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label" translate="domofonApp.company.extCode">Ext code</label>
            <div class="col-sm-6">
                <input type="text"  name="extCode" class="form-control" ng-model="filter.extCode">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" translate="domofonApp.company.name">Name</label>
            <div class="col-sm-6">
                <input type="text"  name="name" class="form-control" ng-model="filter.name">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" translate="domofonApp.company.affiliate">Affiliate</label>
            <div class="col-sm-6">
                <select class="form-control" ng-model="filter.affiliate" ng-options="affiliate.id as affiliate.name for affiliate in affiliates">
                    <option value="" translate="entity.all">Все</option>
                </select>
            </div>
        </div>

        <div class="form-group form-actions">
            <div class="col-sm-10">
                <button ng-click="refresh()" translate="entity.action.search" class="btn btn-success btn-lg">Search</button>
            </div>
        </div>
    </form>

    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#saveCompanyModal" ng-click="clear()">
        <span class="glyphicon glyphicon-flash"></span> <span translate="domofonApp.company.home.createLabel">Create a new Company</span>
    </button>
    <div class="modal fade" id="saveCompanyModal" tabindex="-1" role="dialog" aria-labelledby="myCompanyLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="companyForm" role="form" novalidate
                      class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                      ng-submit="create()">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myCompanyLabel" translate="domofonApp.company.home.createOrEditLabel">Create or edit a Company</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="company.id" readonly>
                        </div>

                        <div class="form-group" ng-class="showErrors(companyForm, 'extCode')?'has-error':''">
                            <label translate="domofonApp.company.extCode">ExtCode</label>
                            <input type="text" class="form-control" name="extCode"
                                   ng-model="company.extCode" required="" ng-pattern="extCodePattern">
                            <div ng-show="showErrors(companyForm, 'extCode')">
                                <span class="help-block text-danger" ng-show="companyForm.extCode.$error.required"
                                      translate-values="{field: '{{'domofonApp.company.extCode' | translate}}'}"
                                      translate="entity.errorMessages.required">Please, fill extCode</span>
                                <span class="help-block text-danger" ng-show="companyForm.extCode.$error.pattern"
                                      translate-values="{field: '{{'domofonApp.company.extCode' | translate}}', pattern: '{{extCodePattern}}'}"
                                      translate="entity.errorMessages.pattern">Field '{{field}}' should match such symbols {{pattern}} !</span>
                            </div>
                        </div>

                        <div class="form-group" ng-class="showErrors(companyForm, 'name')?'has-error':''">
                            <label translate="domofonApp.company.name">Name</label>
                            <input type="text" class="form-control" name="name"
                                   ng-model="company.name" required="" ng-pattern="namePattern">
                            <div ng-show="showErrors(companyForm, 'name')">
                                <span class="help-block text-danger" ng-show="companyForm.name.$error.required"
                                      translate-values="{field: '{{'domofonApp.company.name' | translate}}'}"
                                      translate="entity.errorMessages.required">Please, fill name</span>
                                <span class="help-block text-danger" ng-show="companyForm.name.$error.pattern"
                                      translate-values="{field: '{{'domofonApp.company.name' | translate}}', pattern: '{{namePattern}}'}"
                                      translate="entity.errorMessages.pattern">Field '{{field}}' should match such symbols {{pattern}} !</span>
                            </div>
                        </div>

                        <div class="form-group" ng-class="showErrors(companyForm, 'affiliate')?'has-error':''">
                            <label translate="domofonApp.company.affiliate">Affiliate</label>
                            <select class="form-control" ng-model="company.affiliate.id" ng-options="affiliate.id as affiliate.name for affiliate in affiliates" required="">
                            </select>
                            <span class="help-block text-danger" ng-show="companyForm.affiliate.$error.required"
                                  translate-values="{field: '{{'domofonApp.company.affiliate' | translate}}'}"
                                  translate="entity.errorMessages.required">Please, fill extCode</span>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="companyForm.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteCompanyConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" ng-submit="confirmDelete(company.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="domofonApp.company.delete.question" translate-values="{id: '{{company.id}}'}">Are you sure you want to delete Company {{company.id}}?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="companyForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped" ng-table="companyTableParams">
            <thead>
                <tr>
                    <th>ID</th>
                    <th translate="domofonApp.company.extCode">ExtCode</th>
                    <th translate="domofonApp.company.name">Name</th>
                    <th translate="domofonApp.company.affiliate">affiliate</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="company in $data">
                    <td><a ui-sref="companyDetail({id:company.id})">{{company.id}}</a></td>
                    <td>{{company.extCode}}</td>
                    <td>{{company.name}}</td>
                    <td>{{company.affiliate.name}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="companyDetail({id:company.id})"
                                class="btn btn-info">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ng-click="update(company.id)"
                                class="btn btn-primary">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(company.id)"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
