<div>

    <h2 translate="domofonApp.exempt.home.title">Exempt</h2>
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label" translate="domofonApp.exempt.extCode">Ext code</label>
            <div class="col-sm-6">
                <input type="text"  class="form-control" ng-model="filter.extCode">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" translate="domofonApp.exempt.type">Type</label>
            <div class="col-sm-6">
            <select class="form-control"
                    ng-model="filter.type" required="" ng-options="value as ('domofonApp.exempt.types.' + value) | translate for value in types">
                <option value="" translate="booleanFilterValues.all">Все</option>
            </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" translate="domofonApp.exempt.startDateFrom">Date from</label>
            <div class="col-sm-6">
                <ng-bs3-datepicker data-ng-model='filter.startDateFrom' language="ru" date-format="YYYY-MM-DD"/>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" translate="domofonApp.exempt.startDateTo">Date to</label>
            <div class="col-sm-6">
                <ng-bs3-datepicker data-ng-model='filter.startDateTo' language="ru" date-format="YYYY-MM-DD"/>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" translate="domofonApp.exempt.endDateFrom">Date from</label>
            <div class="col-sm-6">
                <ng-bs3-datepicker data-ng-model='filter.endDateFrom' language="ru" date-format="YYYY-MM-DD"/>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" translate="domofonApp.exempt.endDateTo">Date to</label>
            <div class="col-sm-6">
                <ng-bs3-datepicker data-ng-model='filter.endDateTo' language="ru" date-format="YYYY-MM-DD"/>
            </div>
        </div>

        <div class="form-group form-actions">
            <div class="col-sm-10">
                <button ng-click="refresh()" translate="entity.action.search" class="btn btn-success btn-lg">Search</button>
            </div>
        </div>
    </form>
    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#saveExemptModal" ng-click="clear()">
        <span class="glyphicon glyphicon-flash"></span> <span translate="domofonApp.exempt.home.createLabel">Create a new Exempt</span>
    </button>
    <div class="modal fade" id="saveExemptModal" tabindex="-1" role="dialog" aria-labelledby="myExemptLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="exemptForm" role="form" novalidate
                      class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                      ng-submit="create()">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myExemptLabel" translate="domofonApp.exempt.home.createOrEditLabel">Create or edit a Exempt</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="exempt.id" readonly>
                        </div>

                        <div class="form-group" ng-class="showErrors(exemptForm, 'extCode')?'has-error':''">
                            <label translate="domofonApp.exempt.extCode">ExtCode</label>
                            <input type="text" class="form-control"
                                   ng-model="exempt.extCode" name="extCode" required="">
                            <div ng-show="showErrors(exemptForm, 'extCode')">
                                <span class="help-block text-danger" ng-show="exemptForm.extCode.$error.required" translate-values="{field: '{{'domofonApp.exempt.extCode' | translate}}'}" translate="entity.errorMessages.required">Please, fill login</span>
                            </div>
                        </div>
                        <div class="form-group" ng-class="showErrors(exemptForm, 'type')?'has-error':''">
                            <label translate="domofonApp.exempt.type">Type</label>
                            <select class="form-control"
                            ng-model="exempt.type" name="type" required="" ng-options="value as ('domofonApp.exempt.types.' + value) | translate for value in types">
                            </select>
                            <div ng-show="showErrors(exemptForm, 'type')">
                                <span class="help-block text-danger" ng-show="exemptForm.type.$error.required" translate-values="{field: '{{'domofonApp.exempt.type' | translate}}'}" translate="entity.errorMessages.required">Please, fill login</span>
                            </div>
                        </div>
                        <div class="form-group" ng-class="showErrors(exemptForm, 'startDate')?'has-error':''">
                            <label translate="domofonApp.exempt.startDate">StartDate</label>
                            <ng-bs3-datepicker name="startDate" data-ng-model='exempt.startDate' language="ru" date-format="YYYY-MM-DD" required=""/>
                            <div ng-show="showErrors(exemptForm, 'startDate')">
                                <span class="help-block text-danger" ng-show="exemptForm.startDate.$error.required" translate-values="{field: '{{'domofonApp.exempt.startDate' | translate}}'}" translate="entity.errorMessages.required">Please, fill login</span>
                            </div>
                        </div>
                        <div class="form-group" ng-class="showErrors(exemptForm, 'endDate')?'has-error':''">
                            <label translate="domofonApp.exempt.endDate">EndDate</label>
                            <ng-bs3-datepicker name="endDate" data-ng-model='exempt.endDate' language="ru" date-format="YYYY-MM-DD" required=""/>
                            <div ng-show="showErrors(exemptForm, 'endDate')">
                                <span class="help-block text-danger" ng-show="exemptForm.endDate.$error.required" translate-values="{field: '{{'domofonApp.exempt.endDate' | translate}}'}" translate="entity.errorMessages.required">Please, fill login</span>
                            </div>
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="exemptForm.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteExemptConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" ng-submit="confirmDelete(exempt.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="domofonApp.exempt.delete.question" translate-values="{id: '{{exempt.id}}'}">Are you sure you want to delete Exempt {{exempt.id}}?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped" ng-table="exemptTableParams">
            <thead>
                <tr>
                    <th>ID</th>
                    <th translate="domofonApp.exempt.extCode">ExtCode</th>
                    <th translate="domofonApp.exempt.type">Type</th>
                    <th translate="domofonApp.exempt.startDate">StartDate</th>
                    <th translate="domofonApp.exempt.endDate">EndDate</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="exempt in $data">
                    <td><a ui-sref="exemptDetails({id:exempt.id})">{{exempt.id}}</a></td>
                    <td>{{exempt.extCode}}</td>
                    <td>{{('domofonApp.exempt.types.' + exempt.type) | translate}}</td>
                    <td>{{exempt.startDate | date : 'dd MMMM yyyy'}}</td>
                    <td>{{exempt.endDate | date : 'dd MMMM yyyy'}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="exemptDetail({id:exempt.id})"
                                class="btn btn-info">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ng-click="update(exempt.id)"
                                class="btn btn-primary">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(exempt.id)"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
