
<div>
    <h2><span translate="domofonApp.exempt.detail.title">Exempt</span> {{exempt.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="entity.detail.field">Field</th>
                    <th translate="entity.detail.value">Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <span translate="domofonApp.exempt.extCode">ExtCode</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{exempt.extCode}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="domofonApp.exempt.type">Type</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{exempt.type}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="domofonApp.exempt.startDate">StartDate</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{exempt.startDate}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="domofonApp.exempt.endDate">EndDate</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{exempt.endDate}}" readonly>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            ui-sref="exempt"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
