<div>

    <h2 translate="domofonApp.defect.home.title">Defect</h2>

    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#saveDefectModal" ng-click="clear()">
        <span class="glyphicon glyphicon-flash"></span> <span translate="domofonApp.defect.home.createLabel">Create a new Defect</span>
    </button>
    <div class="modal fade" id="saveDefectModal" tabindex="-1" role="dialog" aria-labelledby="myDefectLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" role="form" novalidate
                      class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                      ng-submit="create()">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myDefectLabel" translate="domofonApp.defect.home.createOrEditLabel">Create or edit a Defect</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="defect.id" readonly>
                        </div>

                        <div class="form-group">
                            <label translate="domofonApp.defect.extCode">ExtCode</label>
                            <input type="text" class="form-control"
                                   ng-model="defect.extCode">
                        </div>
                        <div class="form-group">
                            <label translate="domofonApp.defect.name">Name</label>
                            <input type="text" class="form-control"
                                   ng-model="defect.name">
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteDefectConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" ng-submit="confirmDelete(defect.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="domofonApp.defect.delete.question" translate-values="{id: '{{defect.id}}'}">Are you sure you want to delete Defect {{defect.id}}?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th translate="domofonApp.defect.extCode">ExtCode</th>
                    <th translate="domofonApp.defect.name">Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="defect in defects">
                    <td><a ui-sref="defectDetails({id:defect.id})">{{defect.id}}</a></td>
                    <td>{{defect.extCode}}</td>
                    <td>{{defect.name}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="defectDetail({id:defect.id})"
                                class="btn btn-info">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ng-click="update(defect.id)"
                                class="btn btn-primary">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(defect.id)"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
