
<div>
    <h2><span translate="domofonApp.media.detail.title">Media</span> {{media.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="entity.detail.field">Field</th>
                    <th translate="entity.detail.value">Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <span translate="domofonApp.media.type">Type</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{media.type}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="domofonApp.media.fileName">FileName</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{media.fileName}}" readonly>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            ui-sref="media"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
