<div>
    <h3 translate="cashFlow.header"></h3>
    <div translate="cashFlow.notify"></div><br>
    <div translate="cashFlow.attention"></div>
    <div class="table-responsive">
        <table class="table table-striped" ng-table="cashFlowTableParams">
            <thead>
            <tr>
                <th translate="cashFlow.date">Date</th>
                <th translate="cashFlow.document">Document</th>
                <th translate="cashFlow.writeOff">Write off rub.</th>
                <th translate="cashFlow.income">Income rub.</th>
                <th translate="cashFlow.balance">Balance rub.</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-show="total != null">
                <td translate="cashFlow.total" translate-values="{'from':({{total.from}} | date:'dd-MM-yyyy'),'to':({{total.to}}| date:'dd-MM-yyyy')}" colspan="2"></td>
                <td>{{total.expense}}</td>
                <td>{{total.income}}</td>
                <td>{{total.balance}}</td>
            </tr>
            <tr ng-repeat="payment in $data">
                <td>{{payment.date | date:'dd-MM-yyyy'}}</td>
                <td>{{payment.document}}</td>
                <td>{{payment.operation == "EXPENSE" ? payment.sum : ''}}</td>
                <td>{{payment.operation == "INCOME" ? payment.sum : ''}}</td>
                <td>{{payment.balance}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
