
<div>
    <h2><span translate="domofonApp.affiliate.detail.title">Affiliate</span> {{affiliate.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="entity.detail.field">Field</th>
                    <th translate="entity.detail.value">Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <span translate="domofonApp.affiliate.extCode">ExtCode</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{affiliate.extCode}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="domofonApp.affiliate.name">Name</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{affiliate.name}}" readonly>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            ui-sref="affiliate"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
