<div>

    <h2 translate="domofonApp.affiliate.home.title">Affiliate</h2>
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label" translate="domofonApp.affiliate.extCode">Ext code</label>
            <div class="col-sm-6">
                <input type="text"  name="name" class="form-control" ng-model="filter.extCode">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" translate="domofonApp.affiliate.name">Name</label>
            <div class="col-sm-6">
                <input type="text"  name="name" class="form-control" ng-model="filter.name">
            </div>
        </div>

        <div class="form-group form-actions">
            <div class="col-sm-10">
                <button ng-click="refresh()" translate="entity.action.search" class="btn btn-success btn-lg">Search</button>
            </div>
        </div>
    </form>

    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#saveAffiliateModal" ng-click="clear()" ng-show="isAdmin">
        <span class="glyphicon glyphicon-flash"></span> <span translate="domofonApp.affiliate.home.createLabel">Create a new Affiliate</span>
    </button>
    <div class="modal fade" id="saveAffiliateModal" tabindex="-1" role="dialog" aria-labelledby="myAffiliateLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="affiliateForm" role="form" novalidate
                      class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                      ng-submit="create()">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myAffiliateLabel" translate="domofonApp.affiliate.home.createOrEditLabel">Create or edit a Affiliate</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="affiliate.id" readonly>
                        </div>

                        <div class="form-group" ng-class="showErrors(affiliateForm, 'extCode')?'has-error':''">
                            <label translate="domofonApp.affiliate.extCode">ExtCode</label>
                            <input type="text" class="form-control" name="extCode"
                                   ng-model="affiliate.extCode" required="">
                            <div ng-show="showErrors(affiliateForm, 'extCode')">
                                <span class="help-block text-danger" ng-show="affiliateForm.extCode.$error.required" translate-values="{field: '{{'domofonApp.affiliate.extCode' | translate}}'}" translate="entity.errorMessages.required">Please, fill extCode</span>
                            </div>
                        </div>
                        <div class="form-group" ng-class="showErrors(affiliateForm, 'name')?'has-error':''">
                            <label translate="domofonApp.affiliate.name">Name</label>
                            <input type="text" class="form-control" name="name"
                                   ng-model="affiliate.name" required="">
                            <div ng-show="showErrors(affiliateForm, 'name')">
                                <span class="help-block text-danger" ng-show="affiliateForm.name.$error.required" translate-values="{field: '{{'domofonApp.affiliate.name' | translate}}'}" translate="entity.errorMessages.required">Please, fill name</span>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="affiliateForm.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteAffiliateConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" ng-submit="confirmDelete(affiliate.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="domofonApp.affiliate.delete.question" translate-values="{id: '{{affiliate.id}}'}">Are you sure you want to delete Affiliate {{affiliate.id}}?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped" ng-table="affiliateTableParams">
            <thead>
                <tr>
                    <th>ID</th>
                    <th translate="domofonApp.affiliate.extCode">ExtCode</th>
                    <th translate="domofonApp.affiliate.name">Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="affiliate in $data">
                    <td><a ui-sref="affiliateDetails({id:affiliate.id})">{{affiliate.id}}</a></td>
                    <td>{{affiliate.extCode}}</td>
                    <td>{{affiliate.name}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="affiliateDetail({id:affiliate.id})"
                                class="btn btn-info">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ng-click="update(affiliate.id)"
                                ng-show="isAdmin"
                                class="btn btn-primary">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(affiliate.id)"
                                ng-show="isAdmin"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
