<div>
    <h3 translate="paymentHistory.header" translate-values="{agreementNumber : customer.contract.number}"></h3>
    <div class="table-responsive">
        <table class="table table-striped" ng-table="paymentHistoryTableParams">
            <thead>
            <tr>
                <th translate="paymentHistory.paymentNumber">Payment number</th>
                <th translate="paymentHistory.date">Date</th>
                <th translate="paymentHistory.type" colspan="2">Type</th>
                <th translate="paymentHistory.resultOperation"></th>
                <th translate="paymentHistory.sum"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="payment in $data">
                <td>{{payment.id}}</td>
                <td>{{payment.date | date:'dd-MM-yyyy HH:mm'}}</td>
                <td>{{('domofonApp.payment.types.' + payment.type) | translate}}</td>
                <td></td>
                <td>{{('domofonApp.payment.results.' + payment.result) | translate}}</td>
                <td>{{payment.sum}}</td>

            </tr>
            </tbody>
        </table>
    </div>
</div>
