
<div>
    <h2><span translate="domofonApp.engineer.detail.title">Engineer</span> {{engineer.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="entity.detail.field">Field</th>
                    <th translate="entity.detail.value">Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <span translate="domofonApp.engineer.extCode">ExtCode</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{engineer.extCode}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="domofonApp.engineer.phone">Phone number</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{engineer.phone}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="domofonApp.engineer.fio">FIO</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{engineer.user.fio}}" readonly>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            ui-sref="engineer"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
