<div>

    <h2 translate="domofonApp.engineer.home.title">Engineer</h2>

    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label" translate="domofonApp.engineer.extCode">Ext code</label>
            <div class="col-sm-6">
                <input type="text" name="extCode" class="form-control" ng-model="filter.extCode">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" translate="domofonApp.engineer.phone">Phone</label>
            <div class="col-sm-6">
                <input type="text"  name="phone" class="form-control" ng-model="filter.phone">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" translate="domofonApp.engineer.user">User</label>
            <div class="col-sm-6">
                <ui-select name="user"
                           ng-model="filter.user"
                           theme="bootstrap"
                           reset-search-input="false"
                           required=""
                           unique-field="{field:'user',link:'/api/customers/is-field-unique',id:customer.id, param:'id'}" >
                    <ui-select-match placeholder="{{'domofonApp.engineer.user' | translate}}" allow-clear>
                        {{$select.selected.fio}}
                    </ui-select-match>
                    <ui-select-choices repeat="user.id as user in users track by $index"
                                       refresh="refreshUsers($select.search)"
                                       refresh-delay="0">
                        <div ng-bind-html="user.fio | highlight: $select.search"></div>
                    </ui-select-choices>
            </ui-select>
            </div>
        </div>

        <div class="form-group form-actions">
            <div class="col-sm-10">
                <button ng-click="refresh()" translate="entity.action.search" class="btn btn-success btn-lg">Search</button>
            </div>
        </div>
    </form>

    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#saveEngineerModal" ng-click="clear()">
        <span class="glyphicon glyphicon-flash"></span> <span translate="domofonApp.engineer.home.createLabel">Create a new Engineer</span>
    </button>
    <div class="modal fade" id="saveEngineerModal" tabindex="-1" role="dialog" aria-labelledby="myEngineerLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="engineerForm" role="form" novalidate
                      class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                      ng-submit="create()">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myEngineerLabel" translate="domofonApp.engineer.home.createOrEditLabel">Create or edit a Engineer</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="engineer.id" readonly>
                        </div>

                        <div class="form-group" ng-class="showErrors(engineerForm, 'extCode')?'has-error':''">
                            <label translate="domofonApp.engineer.extCode">ExtCode</label>
                            <input type="text" class="form-control" name="extCode"
                                   ng-model="engineer.extCode" ng-required="true" ng-pattern="extCodePattern">
                            <div ng-show="showErrors(engineerForm, 'extCode')">
                                <span class="help-block text-danger" ng-show="engineerForm.extCode.$error.required"
                                      translate-values="{field: '{{'domofonApp.engineer.extCode' | translate}}'}"
                                      translate="entity.errorMessages.required">Please, fill extCode</span>
                                <span class="help-block text-danger" ng-show="engineerForm.extCode.$error.pattern"
                                      translate-values="{field: '{{'domofonApp.engineer.extCode' | translate}}', pattern: '{{extCodePattern}}'}"
                                      translate="entity.errorMessages.pattern">Field '{{field}}' should match such symbols {{pattern}} !</span>
                            </div>
                        </div>

                        <div class="form-group" ng-class="showErrors(engineerForm, 'phone')?'has-error':''">
                            <label translate="domofonApp.engineer.phone">Phone</label>
                            <input type="text" class="form-control" name="phone"
                                   ng-model="engineer.phone" ng-required="true" ng-pattern="phonePattern">
                            <div ng-show="showErrors(engineerForm, 'phone')">
                                <span class="help-block text-danger" ng-show="engineerForm.name.$error.required"
                                      translate-values="{field: '{{'domofonApp.engineer.phone' | translate}}'}"
                                      translate="entity.errorMessages.required">Please, fill name</span>
                                <span class="help-block text-danger" ng-show="engineerForm.phone.$error.pattern"
                                      translate-values="{field: '{{'domofonApp.engineer.phone' | translate}}', pattern: '{{phonePattern}}'}"
                                      translate="entity.errorMessages.pattern">Field '{{field}}' should match such symbols {{pattern}} !</span>
                            </div>
                        </div>

                        <div class="form-group" ng-class="showErrors(engineerForm, 'user')?'has-error':''">
                            <label translate="domofonApp.engineer.user">User</label>
                            <ui-select name="user"
                                       ng-model="engineer.user"
                                       theme="bootstrap"
                                       reset-search-input="false"
                                       required=""
                                       unique-field="{field:'user',link:'/api/engineers/is-field-unique',id:engineer.id, param:'id'}" >
                                <ui-select-match placeholder="{{'domofonApp.engineer.user' | translate}}">
                                    {{$select.selected.fio}}
                                </ui-select-match>
                                <ui-select-choices repeat="user in users track by $index"
                                                   refresh="refreshUsers($select.search)"
                                                   refresh-delay="0">
                                    <div ng-bind-html="user.fio"></div>
                                </ui-select-choices>
                            </ui-select>
                            <div ng-show="showErrors(engineerForm, 'user')">
                                <span class="help-block text-danger" ng-show="engineerForm.user.$error.required" translate-values="{field: '{{'domofonApp.engineer.user' | translate}}'}" translate="entity.errorMessages.required">Please, fill login</span>
                                <span class="help-block text-danger" ng-show="engineerForm.user.$error.uniqueField" translate-values="{field: '{{'domofonApp.engineer.user' | translate}}'}" translate="entity.errorMessages.exists">Please, fill unique login</span>
                            </div>
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="engineerForm.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteEngineerConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" ng-submit="confirmDelete(engineer.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="domofonApp.engineer.delete.question" translate-values="{id: '{{engineer.id}}'}">Are you sure you want to delete Engineer {{engineer.id}}?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped" ng-table="engineerTableParams">
            <thead>
                <tr>
                    <th>ID</th>
                    <th translate="domofonApp.engineer.extCode">ExtCode</th>
                    <th translate="domofonApp.engineer.phone">Phone</th>
                    <th translate="domofonApp.engineer.user">User</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="engineer in $data">
                    <td><a ui-sref="engineerDetail({id:engineer.id})">{{engineer.id}}</a></td>
                    <td>{{engineer.extCode}}</td>
                    <td>{{engineer.phone}}</td>
                    <td>{{engineer.user.fio}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="engineerDetail({id:engineer.id})"
                                class="btn btn-info">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ng-click="update(engineer.id)"
                                class="btn btn-primary">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(engineer.id)"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
