
<div>
    <h2><span translate="domofonApp.customer.detail.title">Customer</span> {{customer.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="entity.detail.field">Field</th>
                    <th translate="entity.detail.value">Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <span translate="domofonApp.customer.apartment">Apartment</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{customer.apartment}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="domofonApp.customer.connectionDate">ConnectionDate</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{customer.connectionDate}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="domofonApp.customer.receiverType">ReceiverType</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{customer.receiverType}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="domofonApp.customer.receiverState">ReceiverState</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{customer.receiverState}}" readonly>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            ui-sref="customer"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
