<div>

    <h2 translate="domofonApp.customer.home.title">Customer</h2>
    <form class="form-horizontal" name="searchForm">
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-sm-4 control-label" translate="domofonApp.customer.user">User</label>
                <div class="col-sm-8">
                    <input type="text"  name="name" class="form-control" ng-model="filter.user">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label" translate="domofonApp.customer.connectionDateFrom">Connection date from</label>
                <div class="col-sm-8">
                    <ng-bs3-datepicker data-ng-model='filter.connectionDateFrom' language="ru" date-format="YYYY-MM-DD"/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label" translate="domofonApp.customer.connectionDateTo">Connection date to</label>
                <div class="col-sm-8">
                    <ng-bs3-datepicker data-ng-model='filter.connectionDateTo' language="ru" date-format="YYYY-MM-DD"/>
                </div>
            </div>


            <div class="form-group">
                <label class="col-sm-4 control-label" translate="domofonApp.customer.receiverType">Receiver type</label>
                <div class="col-sm-8">
                    <select class="form-control" ng-model="filter.receiverType" ng-options="value as ('domofonApp.customer.receiverTypes.' + value) | translate for value in types">
                        <option value="" translate="booleanFilterValues.all">Все</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label" translate="domofonApp.customer.receiverState">Receiver state</label>
                <div class="col-sm-8">
                    <select class="form-control" ng-model="filter.receiverState" ng-options="item.value as ('booleanFilterValues.' + item.name)|translate for item in booleanFilterValues">
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label" translate="domofonApp.customer.exempt">Exempt</label>
                <div class="col-sm-8">
                    <select class="form-control"
                            ng-model="filter.exempt" ng-options="value.id as value.name for value in exempts">
                        <option value="" translate="booleanFilterValues.all">Все</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group" ng-class="showErrors(searchForm,'contract') ? 'has-error' : ''">
                <label class="col-sm-4 control-label" translate="domofonApp.customer.contract">Contract</label>
                <div class="col-sm-8">
                    <input type="text" name="contract" class="form-control" ng-model="filter.contract" integer>
                    <div ng-show="showErrors(searchForm, 'contract')">
                        <span class="help-block text-danger" ng-show="searchForm.contract.$error.integer" translate-values="{field: '{{'domofonApp.customer.contract' | translate}}'}" translate="entity.errorMessages.integer">Contract should be a number</span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label" translate="domofonApp.entrance.city">City</label>
                <div class="col-sm-8">
                    <ui-select ng-model="filter.cityId"
                               theme="bootstrap"
                               reset-search-input="true"
                               ng-disabled="filter.streetId != undefined">
                        <ui-select-match placeholder="{{'domofonApp.entrance.city' | translate}}" allow-clear>
                            {{$select.selected.name}}
                        </ui-select-match>
                        <ui-select-choices repeat="city.id as city in citiesFilter track by $index"
                                           refresh="refreshCities($select.search, true)"
                                           refresh-delay="0" >
                            <div ng-bind-html="city.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label" translate="domofonApp.entrance.street">Street</label>
                <div class="col-sm-8">
                    <ui-select ng-model="filter.streetId"
                               theme="bootstrap"
                               reset-search-input="true"
                               ng-disabled="filter.cityId === undefined || filter.houseId != undefined">
                        <ui-select-match placeholder="{{'domofonApp.entrance.street' | translate}}" allow-clear>
                            {{$select.selected.name}}
                        </ui-select-match>
                        <ui-select-choices repeat="street.id as street in streetsFilter track by $index"
                                           refresh="refreshStreets($select.search, filter.cityId, true)"
                                           refresh-delay="0" >
                            <div ng-bind-html="street.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label" translate="domofonApp.entrance.house">house</label>
                <div class="col-sm-8">
                    <ui-select ng-model="filter.houseId"
                               theme="bootstrap"
                               reset-search-input="true"
                               ng-disabled="filter.streetId === undefined">
                        <ui-select-match placeholder="{{'domofonApp.entrance.house' | translate}}" allow-clear>
                            {{$select.selected.name}}
                        </ui-select-match>
                        <ui-select-choices repeat="house.id as house in housesFilter track by house.id"
                                           refresh="refreshHouses($select.search, filter.streetId, true)"
                                           refresh-delay="0" >
                            <div ng-bind-html="house.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>

            <div class="form-group" ng-class="showErrors(customerForm, 'entrance')?'has-error':''">
                <label class="col-sm-4 control-label" translate="domofonApp.customer.entrance">entrance</label>
                <div class="col-sm-8">
                    <ui-select ng-model="filter.entranceId"
                               theme="bootstrap"
                               reset-search-input="true"
                               ng-disabled="filter.houseId === undefined">
                        <ui-select-match placeholder="{{'domofonApp.customer.entrance' | translate}}" allow-clear>
                            {{$select.selected.name}}
                        </ui-select-match>
                        <ui-select-choices repeat="entrance.id as entrance in entrancesFilter track by entrance.id"
                                           refresh="refreshEntrances($select.search, filter.houseId, true)"
                                           refresh-delay="0" >
                            <div ng-bind-html="entrance.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label" translate="domofonApp.customer.apartment">Apartment</label>
                <div class="col-sm-8">
                    <input type="text"  name="name" class="form-control" ng-model="filter.apartment">
                </div>
            </div>

        </div>
        <div class="clearfix"></div>

        <div class="form-group form-actions">
            <div class="col-sm-10">
                <button ng-click="!searchForm.$invalid ?refresh():''" translate="entity.action.search" class="btn btn-success btn-lg">Search</button>
            </div>
        </div>
    </form>
    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#saveCustomerModal" ng-click="clear()">
        <span class="glyphicon glyphicon-flash"></span> <span translate="domofonApp.customer.home.createLabel">Create a new Customer</span>
    </button>
    <div class="modal fade" id="saveCustomerModal" tabindex="-1" role="dialog" aria-labelledby="myCustomerLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="customerForm" role="form" novalidate
                      class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                      ng-submit="create()">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myCustomerLabel" translate="domofonApp.customer.home.createOrEditLabel">Create or edit a Customer</h4>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>ID</label>
                                <input type="text" class="form-control" name="id"
                                       ng-model="customer.id" readonly>
                            </div>
                            <div class="form-group"  ng-class="showErrors(customerForm, 'user')?'has-error':''">
                                <label translate="domofonApp.customer.user">User</label>
                                <ui-select name="user"
                                           ng-model="customer.user"
                                           theme="bootstrap"
                                           reset-search-input="false"
                                           required=""
                                           unique-field="{field:'user',link:'/api/customers/is-field-unique',id:customer.id, param:'id'}" >
                                    <ui-select-match placeholder="{{'domofonApp.customer.user' | translate}}">{{$select.selected.fio}}</ui-select-match>
                                    <ui-select-choices repeat="user in users track by $index"
                                                       refresh="refreshUsers($select.search)"
                                                       refresh-delay="0">
                                        <div ng-bind-html="user.fio"></div>
                                    </ui-select-choices>
                                </ui-select>
                                <div ng-show="showErrors(customerForm, 'user')">
                                    <span class="help-block text-danger" ng-show="customerForm.user.$error.required" translate-values="{field: '{{'domofonApp.customer.user' | translate}}'}" translate="entity.errorMessages.required">Please, fill login</span>
                                    <span class="help-block text-danger" ng-show="customerForm.user.$error.uniqueField" translate-values="{field: '{{'domofonApp.customer.user' | translate}}'}" translate="entity.errorMessages.exists">Please, fill unique login</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label translate="domofonApp.customer.contract">Contract</label>
                                <ui-select name="contract"
                                           ng-model="customer.contract"
                                           theme="bootstrap"
                                           reset-search-input="false">
                                    <ui-select-match placeholder="{{'domofonApp.customer.contract' | translate}}" allow-clear>{{$select.selected.number}}</ui-select-match>
                                    <ui-select-choices repeat="contract in contracts track by $index"
                                                       refresh="refreshContracts($select.search)"
                                                       refresh-delay="0">
                                        <div ng-bind-html="contract.number"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>

                            <div class="form-group">
                                <label translate="domofonApp.customer.exempt">Exempt</label>
                                <select class="form-control"
                                        ng-model="customer.exempt.id" ng-options="value.id as ('domofonApp.exempt.types.' + value.type) | translate for value in exempts">
                                    <option value=""></option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label translate="domofonApp.customer.connectionDate">Connection Date</label>
                                <ng-bs3-datepicker name="connectionDate" data-ng-model='customer.connectionDate' language="ru" date-format="YYYY-MM-DD"/>
                            </div>
                            <div class="form-group">
                                <label translate="domofonApp.customer.receiverType">Receiver type</label>
                                <div>
                                    <select name="receiverType" class="form-control" ng-model="customer.receiverType" ng-options="value as ('domofonApp.customer.receiverTypes.' + value) | translate for value in types">
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label translate="domofonApp.entrance.city">City</label>
                                <ui-select ng-model="city.id"
                                           theme="bootstrap"
                                           reset-search-input="true"
                                           ng-disabled="street.id != undefined">
                                    <ui-select-match placeholder="{{'domofonApp.entrance.city' | translate}}" allow-clear>
                                        {{$select.selected.name}}
                                    </ui-select-match>
                                    <ui-select-choices repeat="city.id as city in cities track by $index"
                                                       refresh="refreshCities($select.search)"
                                                       refresh-delay="0" >
                                        <div ng-bind-html="city.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>

                            <div class="form-group">
                                <label translate="domofonApp.entrance.street">Street</label>
                                <ui-select ng-model="street.id"
                                           theme="bootstrap"
                                           reset-search-input="true"
                                           ng-disabled="city.id === undefined || house.id != undefined">
                                    <ui-select-match placeholder="{{'domofonApp.entrance.street' | translate}}" allow-clear>
                                        {{$select.selected.name}}
                                    </ui-select-match>
                                    <ui-select-choices repeat="street.id as street in streets track by $index"
                                                       refresh="refreshStreets($select.search, city.id)"
                                                       refresh-delay="0" >
                                        <div ng-bind-html="street.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>

                            <div class="form-group">
                                <label translate="domofonApp.entrance.house">house</label>
                                <ui-select ng-model="house.id"
                                           theme="bootstrap"
                                           reset-search-input="true"
                                           ng-disabled="street.id === undefined">
                                    <ui-select-match placeholder="{{'domofonApp.entrance.house' | translate}}" allow-clear>
                                        {{$select.selected.name}}
                                    </ui-select-match>
                                    <ui-select-choices repeat="house.id as house in houses track by house.id"
                                                       refresh="refreshHouses($select.search, street.id)"
                                                       refresh-delay="0" >
                                        <div ng-bind-html="house.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>

                            <div class="form-group" ng-class="showErrors(customerForm, 'entrance')?'has-error':''">
                                <label translate="domofonApp.customer.entrance">entrance</label>
                                <ui-select name="entrance.id"
                                           ng-model="customer.entrance"
                                           theme="bootstrap"
                                           reset-search-input="true"
                                           required="" ng-disabled="house.id === undefined && customer.entrance.id === undefined">
                                    <ui-select-match placeholder="{{'domofonApp.customer.entrance' | translate}}" allow-clear>
                                        {{$select.selected.name}}
                                    </ui-select-match>
                                    <ui-select-choices repeat="entrance in entrances track by entrance.id"
                                                       refresh="refreshEntrances($select.search, house.id)"
                                                       refresh-delay="0" >
                                        <div ng-bind-html="entrance.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                                <div ng-show="showErrors(customerForm, 'entrance')">
                                    <span class="help-block text-danger" ng-show="customerForm.entrance.$error.required" translate-values="{field: '{{'domofonApp.customer.entrance' | translate}}'}" translate="entity.errorMessages.required">Please, fill entrance</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label translate="domofonApp.customer.apartment">Apartment</label>
                                <input name="apartment" type="number" class="form-control"
                                       ng-model="customer.apartment">
                                <div ng-show="showErrors(customerForm, 'apartment')">
                                    <span class="help-block text-danger" ng-show="customerForm.apartment.$error.required" translate-values="{field: '{{'domofonApp.customer.apartment' | translate}}'}" translate="entity.errorMessages.required">Please, fill login</span>
                                    <span class="help-block text-danger" ng-show="customerForm.apartment.$error.number" translate-values="{field: '{{'domofonApp.customer.apartment' | translate}}'}" translate="entity.errorMessages.number">Please, fill unique login</span>
                                </div>
                            </div>

                            <div class="form-group">

                                <div class="form-group">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="receiverState" ng-model="customer.receiverState" ng-true-value="true" ng-false-value="false"> <label class="col-sm-2 control-label" translate="domofonApp.customer.receiverState">Receiver state</label>
                                        </label>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="customerForm.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteCustomerConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" ng-submit="confirmDelete(customer.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="domofonApp.customer.delete.question" translate-values="{id: '{{customer.id}}'}">Are you sure you want to delete Customer {{customer.id}}?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped" ng-table="customerTableParams">
            <thead>
                <tr>
                    <th>ID</th>
                    <th translate="domofonApp.customer.user">User</th>
                    <th translate="domofonApp.customer.connectionDate">ConnectionDate</th>
                    <th translate="domofonApp.customer.receiverType">ReceiverType</th>
                    <th translate="domofonApp.customer.receiverState">ReceiverState</th>
                    <th translate="domofonApp.customer.exempt">Exempt</th>
                    <th translate="domofonApp.customer.contract">Contract</th>
                    <th translate="domofonApp.customer.address">Address</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="customer in $data">
                    <td><a ui-sref="customerDetails({id:customer.id})">{{customer.id}}</a></td>
                    <td>{{customer.user.fio}}</td>
                    <td>{{customer.connectionDate | date:'dd MMMM yyyy HH:mm'}}</td>
                    <td>{{ ('domofonApp.customer.receiverTypes.' + customer.receiverType) | translate}}</td>
                    <td>{{customer.receiverState}}</td>
                    <td>{{getFormattedExempt(customer.exempt)}}</td>
                    <td>{{customer.contract.number}}</td>
                    <td>{{customer.entrance.house.street.city.name}} {{customer.entrance.house.street.name}} {{customer.entrance.house.name}}/{{customer.apartment}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="customerDetail({id:customer.id})"
                                class="btn btn-info">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ng-click="update(customer.id)"
                                class="btn btn-primary">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(customer.id)"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
