<div>

    <h2 translate="domofonApp.phone.home.title">Phone</h2>
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label" translate="domofonApp.phone.extCode">Ext code</label>
            <div class="col-sm-6">
                <input type="text"  name="name" class="form-control" ng-model="filter.extCode">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" translate="domofonApp.phone.customer">Customer</label>
            <div class="col-sm-6">
                <input type="text"  name="name" class="form-control" ng-model="filter.customer">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" translate="domofonApp.phone.number">Number</label>
            <div class="col-sm-6">
                <input type="text"  name="name" class="form-control" ng-model="filter.number">
            </div>
        </div>

        <div class="form-group form-actions">
            <div class="col-sm-10">
                <button ng-click="refresh()" translate="entity.action.search" class="btn btn-success btn-lg">Search</button>
            </div>
        </div>
    </form>
    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#savePhoneModal" ng-click="clear()">
        <span class="glyphicon glyphicon-flash"></span> <span translate="domofonApp.phone.home.createLabel">Create a new Phone</span>
    </button>
    <div class="modal fade" id="savePhoneModal" tabindex="-1" role="dialog" aria-labelledby="myPhoneLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="phoneForm" role="form" novalidate
                      class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                      ng-submit="create()">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myPhoneLabel" translate="domofonApp.phone.home.createOrEditLabel">Create or edit a Phone</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="phone.id" readonly>
                        </div>

                        <div class="form-group" ng-class="showErrors(phoneForm, 'extCode')?'has-error':''">
                            <label translate="domofonApp.phone.extCode">ExtCode</label>
                            <input type="text" class="form-control"
                                   ng-model="phone.extCode" name="extCode" required="">
                            <div ng-show="showErrors(phoneForm, 'extCode')">
                                <span class="help-block text-danger" ng-show="phoneForm.extCode.$error.required" translate-values="{field: '{{'domofonApp.phone.extCode' | translate}}'}" translate="entity.errorMessages.required">Please, fill ext code</span>
                            </div>
                        </div>
                        <div class="form-group" ng-class="showErrors(phoneForm, 'number')?'has-error':''">
                            <label translate="domofonApp.phone.number">Number</label>
                            <input type="text" class="form-control" name="number"
                                   ng-model="phone.number" required="">
                            <div ng-show="showErrors(phoneForm, 'number')">
                                <span class="help-block text-danger" ng-show="phoneForm.number.$error.required" translate-values="{field: '{{'domofonApp.phone.number' | translate}}'}" translate="entity.errorMessages.required">Please, fill number</span>
                            </div>
                        </div>

                        <div class="form-group" ng-class="showErrors(phoneForm, 'customer')?'has-error':''">
                            <label translate="domofonApp.phone.customer">customer</label>
                            <ui-select name="customer"
                                       ng-model="phone.customer"
                                       theme="bootstrap"
                                       reset-search-input="false"
                                       required="">
                                <ui-select-match placeholder="{{'domofonApp.phone.customer' | translate}}">{{$select.selected.user.fio}}</ui-select-match>
                                <ui-select-choices repeat="customer in customers track by $index"
                                                   refresh="refreshCustomers($select.search)"
                                                   refresh-delay="0">
                                    <div ng-bind-html="customer.user.fio"></div>
                                </ui-select-choices>
                            </ui-select>
                            <div ng-show="showErrors(phoneForm, 'customer')">
                                <span class="help-block text-danger" ng-show="phoneForm.customer.$error.required" translate-values="{field: '{{'domofonApp.phone.customer' | translate}}'}" translate="entity.errorMessages.required">Please, fill customer</span>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="phoneForm.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deletePhoneConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" ng-submit="confirmDelete(phone.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="domofonApp.phone.delete.question" translate-values="{id: '{{phone.id}}'}">Are you sure you want to delete Phone {{phone.id}}?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped" ng-table="phoneTableParams">
            <thead>
                <tr>
                    <th>ID</th>
                    <th translate="domofonApp.phone.extCode">ExtCode</th>
                    <th translate="domofonApp.phone.number">Number</th>
                    <th translate="domofonApp.phone.customer">customer</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="phone in $data">
                    <td><a ui-sref="phoneDetails({id:phone.id})">{{phone.id}}</a></td>
                    <td>{{phone.extCode}}</td>
                    <td>{{phone.number}}</td>
                    <td>{{phone.customer.user.fio}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="phoneDetail({id:phone.id})"
                                class="btn btn-info">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ng-click="update(phone.id)"
                                class="btn btn-primary">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(phone.id)"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
