
<div>
    <h2><span translate="domofonApp.phone.detail.title">Phone</span> {{phone.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="entity.detail.field">Field</th>
                    <th translate="entity.detail.value">Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <span translate="domofonApp.phone.extCode">ExtCode</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{phone.extCode}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="domofonApp.phone.number">Number</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{phone.number}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="domofonApp.phone.customer">customer</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{phone.customer.user.fio}}" readonly>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            ui-sref="phone"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
