
<div>
    <h2><span translate="domofonApp.fee.detail.title">Fee</span> {{fee.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="entity.detail.field">Field</th>
                    <th translate="entity.detail.value">Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <span translate="domofonApp.fee.extCode">ExtCode</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{fee.extCode}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="domofonApp.fee.date">Date</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{fee.date}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="domofonApp.fee.sum">Sum</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{fee.sum}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="domofonApp.fee.customer">customer</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{fee.customer.id}}" readonly>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            ui-sref="fee"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
