<div>

    <h2 translate="domofonApp.fee.home.title">Fee</h2>
    <form class="form-horizontal" name="searchForm">
        <div class="form-group">
            <label class="col-sm-2 control-label" translate="domofonApp.fee.extCode">Ext code</label>
            <div class="col-sm-6">
                <input type="text"  name="name" class="form-control" ng-model="filter.extCode">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" translate="domofonApp.fee.customer">Customer</label>
            <div class="col-sm-6">
                <input type="text"  name="name" class="form-control" ng-model="filter.customer">
            </div>
        </div>

        <div class="form-group" ng-class="showErrors(searchForm, 'sum')?'has-error':''">
            <label class="col-sm-2 control-label" translate="domofonApp.fee.sum">Sum</label>
            <div class="col-sm-6">
                <input type="number"  name="sum" class="form-control" ng-model="filter.sum">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" translate="domofonApp.fee.dateFrom">Date from</label>
            <div class="col-sm-6">
                <ng-bs3-datepicker data-ng-model='filter.dateFrom' language="ru" date-format="YYYY-MM-DD"/>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" translate="domofonApp.fee.dateTo">Date to</label>
            <div class="col-sm-6">
                <ng-bs3-datepicker data-ng-model='filter.dateTo' language="ru" date-format="YYYY-MM-DD"/>
            </div>
        </div>

        <div class="form-group form-actions">
            <div class="col-sm-10">
                <button ng-click="!searchForm.$invalid ?refresh():''" translate="entity.action.search" class="btn btn-success btn-lg">Search</button>
            </div>
        </div>
    </form>
    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#saveFeeModal" ng-click="clear()">
        <span class="glyphicon glyphicon-flash"></span> <span translate="domofonApp.fee.home.createLabel">Create a new Fee</span>
    </button>
    <div class="modal fade" id="saveFeeModal" tabindex="-1" role="dialog" aria-labelledby="myFeeLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="feeForm" role="form" novalidate
                      class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                      ng-submit="create()">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myFeeLabel" translate="domofonApp.fee.home.createOrEditLabel">Create or edit a Fee</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="fee.id" readonly>
                        </div>

                        <div class="form-group" ng-class="showErrors(feeForm, 'extCode')?'has-error':''">
                            <label translate="domofonApp.fee.extCode">ExtCode</label>
                            <input type="text" class="form-control"
                                   ng-model="fee.extCode" required="">

                            <div ng-show="showErrors(feeForm, 'extCode')">
                                <span class="help-block text-danger" ng-show="feeForm.extCode.$error.required" translate-values="{field: '{{'domofonApp.fee.extCode' | translate}}'}" translate="entity.errorMessages.required">Please, fill ext code</span>
                            </div>
                        </div>
                        <div class="form-group" ng-class="showErrors(feeForm, 'date')?'has-error':''">
                            <label translate="domofonApp.fee.date">Date</label>
                            <ng-bs3-datepicker name="date" data-ng-model='fee.date' language="ru" date-format="YYYY-MM-DD"/>
                        </div>
                        <div class="form-group" ng-class="showErrors(feeForm, 'sum')?'has-error':''">
                            <label translate="domofonApp.fee.sum">Sum</label>
                            <input type="number" class="form-control"
                                   ng-model="fee.sum" name="sum" required="">
                            <div ng-show="showErrors(feeForm, 'sum')">
                                <span class="help-block text-danger" ng-show="feeForm.sum.$error.required" translate-values="{field: '{{'domofonApp.fee.sum' | translate}}'}" translate="entity.errorMessages.required">Please, fill sum</span>
                            </div>
                        </div>

                        <div class="form-group" ng-class="showErrors(feeForm, 'customer')?'has-error':''">
                            <label translate="domofonApp.fee.customer">customer</label>
                            <ui-select name="customer"
                                       ng-model="fee.customer"
                                       theme="bootstrap"
                                       reset-search-input="false"
                                       required="">
                                <ui-select-match placeholder="{{'domofonApp.fee.customer' | translate}}">{{$select.selected.user.fio}}</ui-select-match>
                                <ui-select-choices repeat="customer in customers track by $index"
                                                   refresh="refreshCustomers($select.search)"
                                                   refresh-delay="0">
                                    <div ng-bind-html="customer.user.fio"></div>
                                </ui-select-choices>
                            </ui-select>
                            <div ng-show="showErrors(feeForm, 'customer')">
                                <span class="help-block text-danger" ng-show="feeForm.customer.$error.required" translate-values="{field: '{{'domofonApp.fee.customer' | translate}}'}" translate="entity.errorMessages.required">Please, fill customer</span>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="feeForm.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteFeeConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" ng-submit="confirmDelete(fee.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="domofonApp.fee.delete.question" translate-values="{id: '{{fee.id}}'}">Are you sure you want to delete Fee {{fee.id}}?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped" ng-table="feeTableParams">
            <thead>
                <tr>
                    <th>ID</th>
                    <th translate="domofonApp.fee.extCode">ExtCode</th>
                    <th translate="domofonApp.fee.date">Date</th>
                    <th translate="domofonApp.fee.sum">Sum</th>
                    <th translate="domofonApp.fee.customer">customer</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="fee in $data">
                    <td><a ui-sref="feeDetails({id:fee.id})">{{fee.id}}</a></td>
                    <td>{{fee.extCode}}</td>
                    <td>{{fee.date | date : 'dd MMMM yyyy'}}</td>
                    <td>{{fee.sum}}</td>
                    <td>{{fee.customer.user.fio}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="feeDetail({id:fee.id})"
                                class="btn btn-info">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ng-click="update(fee.id)"
                                class="btn btn-primary">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(fee.id)"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
